{{ define "main" }}

<div>

  <div class="container">

    <!-- Landing Section -->

    <div class="section blue-section full-width-section">
      <div class="landing__title">
      {{ .Site.Data.about.landing.title }}
      </div>
      <hr class="landing__description-border col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto">
      <div class="landing__description col-xl-6 col-lg-8 col-md-10 col-sm-10 col-10 mx-auto">
        {{ .Site.Data.about.landing.description }}
      </div>
      <hr class="landing__description-border col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto">
      <img class="downward-arrow col-lg-1 col-sm-2 col-3" src="assets/downward_arrow.png">
    </div>

    <!-- Mission and Values Section -->

    <div class="section mission-section">
      <div class="section-title">
        {{ .Site.Data.about.missionSection.title1 }}
      </div>
      <div class="section-description">
        {{ .Site.Data.about.missionSection.description }}
      </div>
      <div class="section-title">
        {{ .Site.Data.about.missionSection.title2 }}
      </div>
      {{ partial "valueCards" . }}
    </div>

    <!-- Photos Carousel Section -->

    <div class="section">
    </div>

    {{ partial "memberList" . }}

    <!-- Alumni Placement Section -->

    <div class="section">
      <div class="section-title">
        {{ .Site.Data.about.alumni.title }}
      </div>
      <div class="section-description">
        {{ .Site.Data.about.alumni.description}}
      </div>
      <div class="company-logos-container">
        <img src="" class="company-logo">
        <img src="" class="company-logo">
        <img src="" class="company-logo">
      </div>
    </div>
  </div>
</div>
{{ end }}
