{{ define "main" }}

<div>
  <p>url: {{ .Params.url}}</p>
  <p>title: {{ .Params.title }}</p>

  <div class="container">

    <!-- Landing Section -->

    <div class="section">
      <div class="landing-title">
        {{ .Site.Data.about.landing.title }}
      </div>
      <hr>
      <div class="landing-description">
        {{ .Site.Data.about.landing.description }}
      </div>
    </div>

    <!-- Mission and Values Section -->

    <div class="section mission-section">
      <div class="section-title">
        {{ .Site.Data.about.missionSection.title1 }}
      </div>
      <div class="section-description">
        {{ .Site.Data.about.missionSection.description }}
      </div>
      <div class="section-title">
        {{ .Site.Data.about.missionSection.title2 }}
      </div>
      {{ partial "valueCards" . }}
    </div>

    <!-- Photos Carousel Section -->

    <div class="section">
    </div>

    {{ partial "memberList" . }}

    <!-- Alumni Placement Section -->

    <div class="section">
      <div class="section-title">
        {{ .Site.Data.about.alumni.title }}
      </div>
      <div class="section-description">
        {{ .Site.Data.about.alumni.description}}
      </div>
      {{ partial "companyLogos" . }}
      <div class="company-logos-container">
        <img src="" class="company-logo">
        <img src="" class="company-logo">
        <img src="" class="company-logo">
      </div>
    </div>
  </div>
{{ end }}
