.top-section-content {
  margin: 4em 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
}
.top-section-body {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
  height: 100%;
  padding-bottom: 2em;
  width: 60%;
}
.top-section-title {
  color: #0A0A0A;
  font: 80px/150% 'roboto_condensedbold';
}
.top-section-desc {
  color: #2E3C40;
	font: 16px/175% 'robotolight';
}
.top-section-img {
  order: 2;
}

.carousel-container {
  background: url("../images/tiled_tiny_doodles.png");
  width: 100%;
  height: 650px;
}

#carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  cursor: -webkit-grab;
  cursor: grab;
  height: inherit;
  padding-left: 5em;
}
#carousel > img {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3), 0 2px 5px rgba(0, 0, 0, 0.15);
  margin-left: 2em;
}
#carousel::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.meet-the-team {
  margin-bottom: 5em;
}
.meet-the-team-headline {
  padding-left: 1.5em;
  color: #0A0A0A;
  font: 48px/150% 'roboto_condensedbold';
}
.member-row {
  margin-top: 2em;
  padding: 0 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.member {
  width: 209px;
  height: 209px;
  margin: 3em 3em;
}
.member-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: visibility 0s, opacity 0.2s linear;
}
.member:hover > .member-details {
  visibility: visible;
  opacity: 1;
}
.member-name {
  color: #0A0A0A;
  font: 20px/150% 'roboto_condensedbold';
}
.member-title {
  letter-spacing: 0.1em;
  color: #0A0A0A;
	font: 12px/150% 'robotobold';
  text-transform: uppercase;
  margin-bottom: 1em;
}

/*MOBILE*/

@media (min-width: 768px) and (max-width: 1024px) {
    .top-section-content {
      margin: 4em 0;
      flex-direction: column-reverse;
    }
    .top-section-body {
      width: 100%;
    }
}
@media (max-width: 767px) {
  .top-section-content {
    margin: 4em 0;
    flex-direction: column-reverse;
  }
  .top-section-body {
    width: 100%;
  }
  .member-row {
    padding: 0;
  }
}
