@font-face {
  font-family: 'MyriadPro';
  /*a name to be used later*/
  src: url('/static/fonts/MyriadProRegular.ttf');
  /*URL to font*/
}

.about-us-container {
  padding: 20px 50px;
  margin-bottom: 100px;
  font-family: 'MyriadPro';
}

.m-t-lg {
  margin-top: 5px;
}

.p-ud {
  padding-top: 20px;
  padding-bottom: 20px;
}

#about-us-heading, #members-heading {
  font-weight: bold;
  color: #3A64AF;
}

#about-us-img, #members-img{ 
  width: 5vw;
}

#about-us-img {
  margin-top: 50px;
}


#workshops-heading {
  color: #6D3BAD;
}

#committees-heading {
  color: #3C8721;
}

#projects-heading {
  color: #3A64AF;
}

#culture-heading {
  color: #D38742;
}

#mission-heading {
  color: #D86488;
}

#culture-icon{ 
  width: 3vw;
}

#projects-icon {
  width: 3vw;
}

#committees-icon {
  width: 2vw;
}

#workshops-icon {
  width: 2vw;
}

#mission-icon {
  width: 8vw;
}

.panel-member {
  border: 1px solid #e6e6e6;
  padding: 20px;
  margin: 20px 10px;
}

.panel-member h4, .panel-member h5 {
  color: #3A64AF;
}
