.container-fluid {
    padding: 10px 10%;
}

.container {
    width: 1170px;
}

.footer {
	margin-top: 1em;
    padding-top: 2em;
	background: #00B0DA;
	color: #FFFFFF;
}

.footer-body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
}

.footer-section {
    flex: 1;
}

.footer-section-title {
    font: bold 16px/150% 'Roboto', Arial, sans-serif;
    margin-top: 1.5em; /*TODO: find a reliable way to align footer section titles with the logo on the left*/
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.footer-section-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1.5em;
    font: lighter 16px/200% 'Roboto Condensed', Arial, sans-serif;
}

.footer-section-links > a {
    color: #FFFFFF;
}

.footer-legal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.footer-legal-text {
    flex: 1;
    font: 10px/150% 'roboto_condensedregular';
}

.footer-ocf {
    text-align: right;
    flex: 1;
}
