@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../../static/fonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../../static/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../../static/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../../static/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../../static/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../../static/fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../../static/fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../static/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../../static/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
