/* Cards */
.grid-cards {
  margin: 0 auto;
}

.grid-cards .section-title {
  color: #A4A4A4;
  font-weight: normal;
  font-size: 40px;
}

.grid-card {
  margin: 25px 25px;
  padding: 50px 50px;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.25);
}


.grid-card-flat {
  margin: 25px 25px;
  padding: 50px 50px;
}

.grid-card-area {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-card-img {
  max-width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}

.grid-card-content {
  color: #5C5C5C;
  font-size: 14px;
}

.mission-section .grid-card {
  box-shadow: none;
  border: none;
  padding: 0px 0px;
}

.mission-section .grid-card-flat {
  box-shadow: none;
  border: none;
  padding: 0px 0px;
}

.involved-section .grid-card {
  box-shadow: none;
  border: none;
  padding: 0px 0px;
}

.involved-section .grid-card-flat {
  box-shadow: none;
  border: none;
  padding: 0px 0px;
}

.involved-section .card-img-top {
  max-width: 150px;
}

.involved-section .grid-card-area {
  color: #5C5C5C;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.involved-section .grid-card-content {
  color: #5C5C5C;
  font-size: 16px;
  margin-bottom: 50px;
}

.grid-card-button {
  color: #2F3B79;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
  padding: 10px 20px;
  border-radius: 2px;
  border: none;
  transition: margin-top 250ms;
  display: inline-block;
}

.grid-card-button:hover {
  text-decoration: none;
  color: #2F3B79;
  cursor: pointer;
  background-color: #FCFCFC;
  margin-top: -5px;
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.past-projects .grid-card {
  padding: 50px 0px;
  transition: all 250ms;
  -webkit-transition: all 250ms;
}

.past-projects:hover .grid-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 30px rgb(0, 0, 0, 0.2);
}


.project-card-link:hover {
  text-decoration: none;
  padding: 0px 0px;
}