.navbar {
	background-color: #00B0DA;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {

	color: white;
	border-bottom: 1px solid white;
}
.logo-reg {
	display: none;
}
.logo-white {
	display: inline-block;
}


.hero {
	height: 90vh;
	position: relative;
	background-color: #00B0DA;
}

.centered-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.bottom {
	position: absolute;
	top: 85%;
}

.mission {
	background-color: rgba(0, 0, 0, 0);
	color: #2B4A89;
	margin-left: 0px;
	margin-bottom: 60px;
	text-align: center;
}

.mission-text {
	color: white;
	margin: 0 auto;
	font: 60px/150% 'roboto_condensedbold';
	text-shadow: 3px 3px #008DAE;
}

.mission-subtitle {
	margin-top: 10px;
	color: white;
	font: 18px/150% 'roboto';
	font-size: 28px;
	text-shadow: 2px 2px #008DAE;
}

.topbgimg {
	pointer-events: none;
	background: url('../images/bg.png') no-repeat center/100%;
	background-size: auto 100%;
	height: 100vh;
	z-index: -1;
	margin-top: -5vh;
}

.event-banner {
	width: 100%;
	background-color: #028FBC;
	color: #FFFFFF;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.event-banner-body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.event-details {
	flex: 1;
	text-align: left;
}

.event-details-date {
	font: 24px/150% 'roboto_condensedbold';
}

.event-details-loc {
	font: 15px/150% 'robotolight';
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.event-title {
	flex: 1;
	text-align: center;
	font: 30px/150% 'roboto_condensedbold';
	text-shadow: 2px 2px #01728E;
}

.event-link {
	flex: 1;
	text-align: right;
}

.section-body {
	overflow-x: hidden;
}
.section-title {
	color: #00728E;
	font: 40px/150% 'roboto_condensedbold';
}
.section-img {
	margin-bottom: 1em;
}
.section-desc {
	margin-top: 1em;
	margin-bottom: 4em;
	color: #2E3C40;
	font: 16px/200% 'roboto';
}
.section-more {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding: 3em 3em;
}

.what-we-do {
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.who-we-are {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.infobox {
	border: 1px solid #DDD5C7;
	width: 240px;
	height: 160px;
	text-align: center;
	overflow-y: visible;
}
.infobox-content {
	transform: translateY(-50px);
}
.infobox-icon {
	margin-bottom: 1em;
}
.infobox-title {
	font: 18px/150% 'roboto_condensedbold';
}
.infobox- {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	margin: 1em auto;
	color: #00B0DA;
	width: 160px;
	height: 43px;
	border: 1px solid #00B0DA;
}

.projects {
	background-color: #00B0DA;
	color: #FFFFFF;
	padding: 4em 0;
	font:18px/125% 'roboto';
}

.projects-headline {
	font: 40px/150% 'roboto_condensedbold';
	margin-bottom: 0.2em;
	text-shadow: 2px 2px #008DAE;
}

.projects-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 2em 0;
}

.project-box {
	border: 1px solid white;
	width: 300px;
	height: 340px;
	text-align: center;
	overflow-y: visible;
}

.project-box-empty {
	border: none;
}

.project-box-content {
	transform: translateY(-50px);
	padding: 0 2em;
	padding-top: 5.5em;
}
.project-box-title {
	color: #01728E;
	font: 20px/100% 'roboto';
	text-align: left;
}
.project-box-subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: left;
	font-size: 22px/100% 'robotobold';
	margin-top: .5em;
	color: #FFE83C;
}
.project-box-desc {
	margin-top: 1.5em;
	text-align: left;
	font: 16px/150% 'robotolight';
}

.see-past-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-size: 18px;
}

.next-steps {
	background-color: #028FBC;
	padding: 2em 5em;
}

.split-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.split-left {
	flex: 1;
	padding: 2em 5em;
	border-right: 1px solid #E8E8E8;
	text-align: right;
}
.split-right {
	flex: 1;
	padding: 2em 5em;
	border-left: 1px solid #E8E8E8;
	text-align: left;
}
.next-step-subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #00586E;
	font-weight: bolder;
}
.next-step-title {
	color: white;
	text-shadow: 2px 2px #01728E;
	font: 30px/200% 'roboto_condensedbold';
}

.grow {
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.arrow {
	border: solid white;
	border-width: 0 10px 10px 0;
	border-radius: 25%;
	display: inline-block;
	padding: 15px;
	transition: all 0.5s ease-in-out;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.right:hover {
	transform: rotate(-45deg) scale(2);
	-webkit-transform: rotate(-45deg) scale(2);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.left:hover {
	transform: rotate(135deg); scale(2);
	-webkit-transform: rotate(135deg) scale(2);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.down:hover {
	transform: rotate(45deg) scale(1.5);
	-webkit-transform: rotate(45deg) scale(1.5);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.up:hover {
	transform: rotate(-135deg) scale(2);
	-webkit-transform: rotate(-135deg) scale(2);
}
/*MOBILE*/

@media (min-width: 768px) and (max-width: 1024px) {
	.project-box {
		height: 420px;
	}

	/* hide fork decorations */
	.fork-decoration {
		display: none;
	}

	.section-body {
		margin-bottom: 6em;
	}
}

@media (min-width: 767px) and (max-width: 903px) {
	.project-box {
		height: 500px;
	}
}

@media (max-width: 767px) {
	/* align "what we do" infoboxes to center */
	.section-img {
		width: 100%;
	}

	.event-title {
		margin-bottom: 20px;
	}

	.section-more {
		align-items: center;
		padding: 0px;
		flex-direction: column;
	}

	.infobox {
		height: auto;
		margin-bottom: 20px;
		text-align: left;
		vertical-align: middle;
	}

	.infobox-inner {
		display: inline;
	}

	.infobox-icon-wrapper {
		float: left;
		margin-left: -30px;
	}

	.infobox-content {
		transform: none;
	}

	.infobox-title {
		float: right;
		vertical-align: middle;
		margin: auto;
		height: 100%;
		position: relative;
		width: 50%;
		top: 30px;
	}

	/* hide fork decorations */
	.fork-decoration {
		display: none;
	}

	.section-body {
		margin-bottom: 6em;
	}

	/* align event details vertically */
	.event-banner-body {
		flex-direction: column;
	}
	.event-details {
		text-align: center;
	}

	/* align project boxes vertically */
	.projects-row {
		flex-direction: column;
		align-items: center;
	}
	.project-box {
		width: 380px;
	}


	.next-steps {
		padding: 3em 3em;
	}
	.split-container {
		flex-direction: column;
	}
	.split-left {
		border-right: 0px;
		text-align: left;
		padding: 2em 2em;
	}
	.split-right {
		border-left: 0px;
		padding: 2em 2em;
	}

	.project-box-empty {
		display: none;
	}
}

