.hero {
	height: 90vh;
	position: relative;
}

.centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.mission {
	background-color: rgba(0, 0, 0, 0);
	color: #2B4A89;
	margin-left: 0px;
	margin-bottom: 60px;
}

.mission-text {
	color: #0A0A0A;
	margin: 0 auto;
	font: 72px/150% 'roboto_condensedbold';
}

.mission-subtitle {
	margin-top: 10px;
	color: #0A0A0A;
	font: 18px/150% 'robotobold';
	font-size: 28px;
}

.topbgimg {
	pointer-events: none;
	background: url('../images/bg.png') no-repeat center/100%;
	height: 100vh;
	z-index: -1;
	margin-top: -5vh;
}




.event-banner {
	width: 100%;
	background-color: #00B0DA;
	color: #FFFFFF;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.12);
}

.event-banner-body {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.event-details {
	flex: 1;
	text-align: left;
}

.event-details-date {
	font: 24px/150% 'roboto_condensedbold';
}

.event-details-loc {
	font: 15px/150% 'robotolight';
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.event-title {
	flex: 1;
	text-align: center;
	font: 36px/150% 'roboto_condensedbold';
}

.event-link {
	flex: 1;
	text-align: right;
}

.section-body {
	overflow-x: hidden;
}
.section-title {
	color: #00B0DA;
	font: 64px/150% 'roboto_condensedbold';
}
.section-img {
	margin-bottom: 1em;
}
.section-desc {
	margin-top: 1em;
	margin-bottom: 4em;
	color: #2E3C40;
	font: 15px/200% 'robotolight';
}
.section-more {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	padding: 3em 3em;
}

.what-we-do {
	margin-top: 4em;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.who-we-are {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}

.infobox {
	border: 1px solid #DDD5C7;
	width: 240px;
	height: 160px;
	text-align: center;
	overflow-y: visible;
}
.infobox-content {
	transform: translateY(-50px);
}
.infobox-icon {
	margin-bottom: 1em;
}
.infobox-title {
	font: 18px/150% 'roboto_condensedbold';
}
.infobox-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	margin: 1em auto;
	color: #00B0DA;
	width: 160px;
	height: 43px;
	border: 1px solid #00B0DA;
}

.projects {
	background-color: #00B0DA;
	color: #FFFFFF;
	padding: 4em 0;
}

.projects-headline {
	font: 64px/150% 'roboto_condensedbold';
	margin-bottom: 0.2em;
}

.projects-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 5em 0;
}

.project-box {
	border: 1px solid white;
	width: 300px;
	height: 310px;
	text-align: center;
	overflow-y: visible;
}
.project-box-content {
	transform: translateY(-50px);
	padding: 0 2em;
}
.project-box-title {
	color: #FFE83C;
	font: 24px/100% 'robotobold';
	text-transform: uppercase;
	text-align: left;
}
.project-box-subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: left;
	font-size: 12px;
}
.project-box-desc {
	margin-top: 1em;
	text-align: left;
	font: 15px/150% 'robotolight';
}

.see-past-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-size: 18px;
}

.next-steps {
	background-color: #F7CA18;
	padding: 2em 5em;
}

.split-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.split-left {
	flex: 1;
	padding: 2em 5em;
	border-right: 1px solid #E8E8E8;
	text-align: right;
}
.split-right {
	flex: 1;
	padding: 2em 5em;
	border-left: 1px solid #E8E8E8;
	text-align: left;
}
.next-step-subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.next-step-title {
	color: #0A0A0A;
	font: 36px/200% 'roboto_condensedbold';
	text-transform: uppercase;
}

/*MOBILE*/

@media (min-width: 768px) and (max-width: 1024px) {
	.project-box {
		height: 380px;
	}

	/* hide fork decorations */
	.fork-decoration {
		display: none;
	}

	.section-body {
		margin-bottom: 6em;
	}
}
@media (max-width: 767px) {
	/* align "what we do" infoboxes to center */
	.section-more {
		align-items: center;
		padding: 3em 0;
	}

	/* hide fork decorations */
	.fork-decoration {
		display: none;
	}

	.section-body {
		margin-bottom: 6em;
	}

	/* align event details vertically */
	.event-banner-body {
		flex-direction: column;
	}
	.event-details {
		text-align: center;
	}

	/* align project boxes vertically */
	.projects-row {
		flex-direction: column;
		align-items: center;
	}
	.project-box {
		width: 380px;
	}


	.next-steps {
		padding: 3em 3em;
	}
	.split-container {
		flex-direction: column;
	}
	.split-left {
		border-right: 0px;
		text-align: left;
		padding: 2em 2em;
	}
	.split-right {
		border-left: 0px;
		padding: 2em 2em;
	}
}
