.timeline-section {
  padding-top: 6em;
}

ul {
  display: inline-block;
  vertical-align: top;
}

.dates {
  text-align: right;
  font: 22px/150% 'roboto_condensedbold';
  padding-bottom:3.5em;
  color: #00B0DA;
}

.event-name {
  font: 28px/150% 'roboto_condensedbold';
}

.event {
    margin-bottom: 2.5em;
}

.faqs-content {
    margin: 4em 5em;
}
.faqs-title {
    font: 40px/150% 'roboto_condensedbold';
    margin-bottom: 0.5em;
    color: #00728E;
}
.faqs-question {
    padding-right: 10em;
    color: #2E3C40;
    font: 18px/175% 'roboto';
    font-weight: bolder;
    margin-top: 2em;
    margin-bottom: 10px;
}

.faqs-answer {
    padding-right: 10em;
    color: #2E3C40;
    font: 16px/175% 'roboto';
}
