.top-section {
  background-color: white;
}

.top-section-content {
  margin: 4em 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
}
.top-section-body {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 400px;
  height: 100%;
  padding-bottom: 2em;
  width: 60%;
}
.top-section-title {
  color: #00728E;
  margin-top: 2em;
  font: 40px/150% 'roboto_condensedbold';
}
.top-section-desc {
  margin-top: 2em;
  color: #2E3C40;
  font: 18px/200% 'roboto';
}
.top-section-img {
  order: 2;
}

.timeline-section {
  padding-top: 6em;
}

ul {
  display: inline-block;
  vertical-align: top;
}

.dates {
  text-align: right;
  font: 22px/150% 'roboto_condensedbold';
  padding-bottom:3.5em;
  color: #00B0DA;
}

.event-name {
  font: 28px/150% 'roboto_condensedbold';
}

.event {
    margin-bottom: 2.5em;
}

.faqs-content {
    margin: 4em 5em;
}
.faqs-title {
    font: 40px/150% 'roboto_condensedbold';
    margin-bottom: 0.5em;
    color: #00728E;
}
.faqs-question {
    padding-right: 10em;
    color: #2E3C40;
    font: 18px/175% 'roboto';
    font-weight: bolder;
    margin-top: 2em;
    margin-bottom: 10px;
}

.faqs-answer {
    padding-right: 10em;
    color: #2E3C40;
    font: 16px/175% 'roboto';
}
