html {
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #00afcc;
	color: #191919;
	padding-bottom: 0px;
}

.page-banner {
	background-size: cover;
	text-align: center;
}

.welcome-banner {
	background: url("../images/berkeley.jpg") no-repeat center center scroll;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 30%;
}

.welcome-banner h1 {
	/*	color: #333;*/
	/*	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.welcome-banner h2 {
	color: white;
}

.about-banner {
	background: url("../images/startup.jpg") no-repeat center center scroll;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

.contact-banner {
	background: url("../images/office.jpg") no-repeat center center scroll;
	color: #ffffff;
}

.donate-banner {
	text-align: center
}

.team {
	text-align: center;
	background-color: white;
}

.team-member {
	padding-bottom: 20px;
}

.team-member img {
	border-radius: 100%;
}

.mission {
	text-align: center;
	background-color: white;
	color: #191919;
}

.current-projects {
	text-align: center;
	background-color: #008698;
	color: #ffffff;
	padding: 0px;
	padding-top: 10px;
}

.project {
	background-color: #ffffff;
	padding-bottom: 50px;
	color: #191919;
}

.project-logo img {
	margin-top: 30px;
}

.project-description {
	padding-top: 30px;
}

.client-info {
	text-align: center;
	background-color: #ffffff;
}

.student-info {
	text-align: center;
	background-color: #ffffff;
	padding-bottom: 10%;
}

.client-contact {
	color: white;
	text-align: center;
	background: url("../images/keyboard.jpeg") no-repeat center center scroll;
}

.students {
	text-align: center;
	background-color: #a3e7f0;
}

.div-image {
	padding-top: 15%;
	padding-bottom: 15%;
	background-size: cover;
}

.office {
	background: url("../images/office.jpg") no-repeat center center scroll;
}

.bridge {
	background: url("../images/bridge.jpeg") no-repeat center center scroll;
}

.info-box {
	background-color: #ffffff;
	text-align: center;
	color: #626262;
}

.foot {
	background-color: #00afcc;
	text-align: center;
	/*	color: white;*/
}

.jumbotron {
	margin: 0px;
}

.contact-blurb {
	text-align: center;
	padding-bottom: 40px;
}

.contact {
	text-align: left;
	background-color: white;
	padding-bottom: 50px;
}

.navbar {
	opacity: 1.0;
	/* opacity [0-1] */
	-moz-opacity: 1.0;
	/* opacity [0-1] */
	-webkit-opacity: 1.0;
	/* opacity [0-1] */
	border-bottom: 0px;
}

.navbar-default {
	background-color: #7bdfea;
	border-color: #00afcc;
}

.navbar-default .navbar-brand {
	color: #008698;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #ffffff;
}

.navbar-default .navbar-text {
	color: #008698;
}

.navbar-default .navbar-nav > li > a {
	color: #008698;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
	background-color: #7bdfea;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	color: #008698;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: #00afcc;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	background-color: #00afcc;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: #ffffff;
	background-color: #00afcc;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #00afcc;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #ffffff;
	background-color: #00afcc;
}

.navbar-default .navbar-toggle {
	border-color: #00afcc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #4d6a79;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ffffff;
}

.navbar-default .navbar-link {
	color: #ffffff;
}

.navbar-default .navbar-link:hover {
	color: #4d6a79;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #4d6a79;
		background-color: #4d6a79;
	}
}


/* caret */

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #008698;
	border-bottom-color: #008698;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

.footer-text {
	color: white;
}

.footer-link {
	color: #4d6a79;
}

.link {
	color: #4d6a79;
}