body, html {
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  text-align: center;
}

#main {
  width: 70%;
  margin: 0 auto;
}

.section {
  padding-top: 50px;
  padding-bottom: 25px;
}

.section-title {
  color: #A4A4A4;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 25px;
}

.section-subtitle {
  color: #A4A4A4;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 12px;
}

.section-description {
  color: #5C5C5C;
  font-size: 16px;
  margin-bottom: 50px;
  width: 70%;
  display: inline-block;

}

.gray-section {
  background-color: #F5F5F5;
}

.blue-section {
  color: white;
  background-color: #2F3B79;
}

.full-width-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.past-projects {
  justify-content: center;
  max-width: 80vw;
  margin: 0 auto;
}

.projects-involved-section {
  border-top: 1px solid #D2D2D2;
}

.testimonials-overlay {
  background-image: linear-gradient(to right, #F5F5F5, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, #F5F5F5 100%);
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  pointer-events: none;
}

.testimonials-container {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  padding: 40px 0;
}

.testimonials-container-slide {
  font-size: 0;
  white-space: nowrap;
  animation: moveTestimonials 40s linear infinite;
}

/* Temporarily removing hover effects */
/*
.testimonials-container:hover .testimonials-container-slide{
  animation-play-state: paused;
}

.testimonials-container:hover .quote-container {
  opacity: 0.5;
}

.testimonials-container:hover .quote-container:hover {
  opacity: 1;
}*/

.testimonial-container {
  font-size: 16px;
  box-sizing: content-box;
  width: 340px;
  margin: 0px;
  display: inline-block;
  white-space: normal;
  vertical-align: bottom;
}

.quote-container {
  display: inline-block;
  width: 250px;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
}

.quote-text {
  text-align: left;
  font-size: 14px;
}

.quote-logo {
  float: right;
  display: block;
  height: 30px;
  width: auto;
}

@keyframes moveTestimonials {
  100% {
    -webkit-transform: translateX(-1700px);
    transform: translateX(-1700px)
  }
}

@media (max-width: 768px) {
  #main {
    width: 90%;
  }
}
