.members-container {
  justify-content: center;
}

.member {
  width: 180px;
  height: 180px;
  margin: 15px;
  margin-top: 2em;
  margin-bottom: 0px;
  background-size: cover;
  border: none;
  transition: border 0.2s ease-in;
}

.member-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  width: 180px;
  height: 180px;
  border-radius: 2px;
  transition: visibility 0.2s, opacity 0.2s ease-in, margin-left 0.2s ease-in, margin-top 0.2s ease-in, width 0.2s ease-in, height 0.2s ease-in;
  overflow: hidden;
}

.member-name {
  color: #0A0A0A;
  font-family: "Roboto Slab";
  font-size: 19px ;
  font-style: bold;
}

.member-title {
  letter-spacing: 0.1em;
  color: #0A0A0A;
  font-family: "Roboto";
  font-size: 10px ;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.member:hover > .member-details {
  visibility: visible;
  opacity: 1;
  width: 180px;
  height: 180px;
}

@media (max-width: 768px) {
 
  .member {
    margin: 10px;
  }
}
