.top-section-content {
  margin: 4em 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
}
.top-section-body {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
  height: 100%;
  padding-bottom: 2em;
  width: 60%;
}
.top-section-title {
  color: #0A0A0A;
  margin-top: 2em;
  font: 40px/150% 'roboto_condensedbold';
}
.top-section-desc {
  color: #2E3C40;
	font: 16px/175% 'robotolight';
}
.top-section-img {
  order: 2;
}


.portfolio {
    background: url("../images/tiled_tiny_doodles.png");
    width: 100%;
    height: 650px;
    margin-bottom: 8em;
}
.portfolio-cards {
    margin: 3em 5em;
    justify-content: center;
}
.company-card {
    margin: 2em;
    background-color: white;
    border: 1px solid #DDD5C7;
    padding: 2em 2em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.1);
    height: 280px;
    overflow-y: hidden;
    transition: all .2s;
}

.company-card:hover {
  transform: scale(1.1);
}

.company-card-logo {
    width: 100%;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.sutro-logo {
  width: 50%;
}

.upstream-logo {
  width: 70%;
}

.company-card-subtitle {
    letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 15px;
    margin-top: 1em;
    text-align: center;
}


.company-card-desc {
    margin-top: 1em;
    font-size: 14px;
    text-align: center;
}

.fill-card li a {
  display: block;
  height: 100%
  width: 100%
  text-decoration: none;
}

.next-steps {
	background-color: #F7CA18;
	padding: 2em 5em;
}

.split-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.split-left {
	flex: 1;
	padding: 2em 5em;
	border-right: 1px solid #E8E8E8;
	text-align: right;
}
.split-right {
	flex: 1;
	padding: 2em 5em;
	border-left: 1px solid #E8E8E8;
	text-align: left;
}
.next-step-subtitle {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.next-step-title {
	color: #0A0A0A;
	font: 36px/200% 'roboto_condensedbold';
	text-transform: uppercase;
}

/*MOBILE*/

@media (min-width: 768px) and (max-width: 1024px) {
    .top-section-content {
      margin: 4em 0;
      flex-direction: column-reverse;
    }
    .top-section-body {
      width: 100%;
    }
    .portfolio-cards {
        margin: 4em 0;
    }
}
@media (max-width: 767px) {
  .top-section-content {
    margin: 4em 0;
    flex-direction: column-reverse;
  }
  .top-section-body {
    width: 100%;
  }

  .portfolio-cards {
      margin: 4em 0;
  }

  .next-steps {
      padding: 3em 3em;
  }
  .split-container {
      flex-direction: column;
  }
  .split-left {
      border-right: 0px;
      text-align: left;
      padding: 2em 2em;
  }
  .split-right {
      border-left: 0px;
      padding: 2em 2em;
  }
}
