/* Project-specific pages */
.project-section .section-title {
  color: #414040;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}

.project-section .section-content {
  color: #5C5C5C;
  font-size: 16px;
}

.project-section .section-icon {
  width: 100px;
}

.project-section .section-full-image {
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
}
