/* Cards */
.project-cards {
  margin: 0 auto;
}

.project-cards .section-title {
  color: #A4A4A4;
  font-weight: normal;
  font-size: 40px;
}

.project-card {
  height: 400px;
  margin: 25px 25px;
  padding: 50px 50px;
  box-shadow:0px 0px 20px rgb(0, 0, 0, 0.25);
}

.project-card-area {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-card-content {
  color: #5C5C5C;
  font-size: 18px;
}

.project-card-img {
  width: 200px;
  margin: 0 auto;
}

/* Project-specific pages */
.project-section .section-title {
  color: #414040;
  font-weight: bold;
  font-size: 60px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 50px;
}

.project-section .section-content {
  color: #5C5C5C;
  font-size: 18px;
}

.project-section .section-icon {
  width: 150px;
}

.project-section .section-full-image {
  width: 75%;
  margin-top: 50px;
  margin-bottom: 50px;
}
