.top-section-content {
  margin: 4em 5em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
}
.top-section-body {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
  height: 100%;
  padding-bottom: 2em;
  width: 60%;
}
.top-section-title {
  color: #0A0A0A;
  font: 80px/150% 'roboto_condensedbold';
}
.top-section-quote-body {
    font-size: 24px;
    margin-bottom: 0.6em;
}
.top-section-quote-subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
}
.top-section-desc {
  color: #2E3C40;
  font: 16px/175% 'robotolight';
}
.top-section-img {
  order: 2;
}

.services {
    color: white;
    background-color: #00B0DA;
    padding: 5em 0;
}
.services-content {
    margin: 4em 5em;
}
.services-title {
    font: 64px/150% 'roboto_condensedbold';
    margin-bottom: 1em;
}
.services-boxes {
    margin-bottom: 4em;
    display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 5em 0;
}
.service-box {
	border: 1px solid white;
	width: 300px;
	height: 310px;
	text-align: center;
	overflow-y: visible;
}
.service-box-content {
	transform: translateY(-50px);
	padding: 0 2em;
}
.service-box-title {
	color: #FFE83C;
	font: 24px/100% 'robotobold';
	text-transform: uppercase;
	text-align: left;
}
.service-box-desc {
	margin-top: 1em;
	text-align: left;
	font: 15px/150% 'robotolight';
}

.project-structure-content {
    margin: 4em 5em;
}
.project-structure-title {
    font: 64px/150% 'roboto_condensedbold';
    margin-bottom: 0.5em;
}
.project-structure-desc {
    padding-right: 10em;
    color: #2E3C40;
    font: 16px/175% 'robotolight';
}
