.top-section-body {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 400px;
  height: 100%;
  padding-bottom: 2em;
  width: 60%;
}
.top-section-title {
  color: #00728E;
  margin-top: 1em;
  font: 40px/150% 'roboto_condensedbold';
}
.top-section-quote-body {
    font-size: 20px;
    margin-top: 2em;
    margin-bottom: 0.6em;
    font-style: italic;
}
.top-section-quote-subtitle {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 12px;
}

.services {
    color: white;
    background-color: #00B0DA;
    padding: 5em 0;
}
.services-content {
    margin: 4em 5em;
}
.services-title {
    font: 40px/150% 'roboto_condensedbold';
    margin-bottom: 1em;
    margin-top: 2em;
    text-shadow: 3px 3px #008DAE;
}
.services-boxes {
    margin-bottom: 1em;
    display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 5em 0;
}
.service-box {
	border: 1px solid white;
	width: 300px;
	height: 310px;
	text-align: center;
	overflow-y: visible;
}
.service-box-content {
	transform: translateY(-50px);
	padding: 0 2em;
}
.service-box-title {
	color: #FFE83C;
	font: 24px/100% 'robotobold';
	text-transform: uppercase;
	text-align: left;
}
.service-box-desc {
	margin-top: 1em;
	text-align: left;
	font: 15px/150% 'robotolight';
}

.proj-structure-content {
    margin: 4em 5em;
}
.proj-structure-title {
    font: 40px/150% 'roboto_condensedbold';
    margin-bottom: 0.5em;
    color: #00728E;
}

.proj-structure-answer {
    padding-right: 10em;
    color: #2E3C40;
    font: 18px/175% 'roboto';
}

.proj-structure-pic {
  margin-top: 2em;
  width:50%;
}

@media(max-width : 768px) {
  .top-section-body {
    width: 100%;
    margin-left: 0px;
  }

  .proj-structure-content {
      margin-left: 0px;
      margin-right: 0px;
  }

  .proj-structure-answer {
      padding-right: 0px;
  }

  .proj-structure-pic {
      width:100%;
  }
}