{% extends "base.html" %} {% block meta %}
<title>About | CodeBase</title>
{% endblock %} {% block body %}
<link rel="stylesheet" href="{% static '/static/css/about_us.css' %}">
<script src="../static/js/vendor/vanilla.kinetic.js"></script>

<div class="top-section">
    <div class="container-fluid">
        <div class="top-section-content">
            <div class="top-section-body">
                <div class="top-section-title">
                    About Us
                </div>
                <div class="top-section-desc">
                    We are a community of hackers, designers, and inventors at Cal, brought together by our love of building and solving problems through code. However, we also take pride in the diversity and wide range of non-technical talents within our CodeBase family. We love to make memories together – from semesterly retreats to boba runs and late-night study sessions. Our work is our passion, but that doesn’t mean we can’t have some fun along the way.
                </div>
            </div>
            <img onMouseOver="this.src='../static/images/rocket.gif'" onMouseOut="this.src='../static/images/med_berkelium.png'" class="top-section-img" src="../static/images/rocket.gif" width="25%" />
        </div>
    </div>
</div>

<div class="carousel-container">
    <div id="carousel">
        <img src="../static/images/thumbs/ficom.png" />
        <img src="../static/images/thumbs/gang.png" />
        <img src="../static/images/thumbs/brianaward.jpg" />
        <img src="../static/images/thumbs/karaoke.JPG" />
    </div>
</div>

<div class="meet-the-team">
    <div class="container-fluid">
        <div class="meet-the-team-headline" id="team-section">
            Meet The Team
        </div>



        <ul class="members flex-list">
            <div class="col-md-3">
                <li class="member flex-list-item" style="background-image: url(../static/images/thumbs/mrpresident.png);">
                    <div class="member-details">
                        <div class="member-name">
                            Abhishyant Khare
                        </div>
                        <div class="member-title">
                            President
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/abhishyantkhare">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://www.github.com/abhishyant">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="http://www.abhishyant.com">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background-image: url(../static/images/thumbs/kush.png);">
                    <div class="member-details">
                        <div class="member-name">
                            Kush Rastogi
                        </div>
                        <div class="member-title">
                            Projects VP
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/kushrastogi/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/kushrast">
                                <img src="../static/images/github.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background: url(../static/images/thumbs/ragstar.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Raghav Anand
                        </div>
                        <div class="member-title">
                            Projects VP
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/raghav-anand-034b89127/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/raghavanand98">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="http://raghavanand98.com">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background-image: url(../static/images/thumbs/kavita.png);">
                    <div class="member-details">
                        <div class="member-name">
                            Kavita Vijayan
                        </div>
                        <div class="member-title">
                            Internal VP
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/kavita-vijayan-339500126/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/kavitavijayan">
                                <img src="../static/images/github.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background: url(../static/images/thumbs/lang.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Lang Tran
                        </div>
                        <div class="member-title">
                            Internal VP
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/lang-tran-753572b9/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/itsbluething/">
                                <img src="../static/images/github.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background: url(../static/images/thumbs/pal.png);">
                    <div class="member-details">
                        <div class="member-name">
                            Pal Makkar
                        </div>
                        <div class="member-title">
                            Professional Development VP
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/cindy.png); background-size: 100%;">
                    <div class="member-details">
                        <div class="member-name">
                            Cindy Yuan
                        </div>
                        <div class="member-title">
                            Design VP
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/cindyjyuan">
                                <img src="../static/images/linkedin.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background: url(../static/images/thumbs/tim.png);">
                    <div class="member-details">
                        <div class="member-name">
                            Tim Foster
                        </div>
                        <div class="member-title">
                            Operations VP
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">
                <li class="member flex-list-item" style="background: url(../static/images/thumbs/ellen.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Ellen Luo
                        </div>
                        <div class="member-title">
                            Project Manager
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/ellenluo/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/ellenluo">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="http://ellenluo.me">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/sahana.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Sahana Srinivisan
                        </div>
                        <div class="member-title">
                            Project Manager
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/ivon.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Ivon Liu
                        </div>
                        <div class="member-title">
                            Project Manager
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/ivonliu/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/ivonliu">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="http://ivonliu.com">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/saurav.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Saurav Kadavath
                        </div>
                        <div class="member-title">
                            Project Manager
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/saurav-kadavath-808b07132/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/ssss1029">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="http://www.sauravkadavath.com">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/brian.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Brian DeLeonardis
                        </div>
                        <div class="member-title">
                            Mentor Project Manager
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/brian-deleonardis-b49030121/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/bdeleonardis1">
                                <img src="../static/images/github.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/andrew.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Andrew Chan
                        </div>
                        <div class="member-title">
                            Mentor Project Manager
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/andrew-k-chan">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/theandrewchan">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="https://theandrewchan.github.io">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/aismit.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Aismit Das
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/aneesh.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Aneesh Khera
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/aneeshkhera">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/kapleesh">
                                <img src="../static/images/github.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/cynthia.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Cynthia Wang
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                            <a href="https://www.linkedin.com/in/cynthia-wang-4ab743132/">
                                <img src="../static/images/linkedin.png" />
                            </a>
                            <a href="https://github.com/wangcynthia">
                                <img src="../static/images/github.png" />
                            </a>
                            <a href="https://wangcynthia.github.io">
                                <img src="../static/images/personal_site.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/jaemin.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Jaemin Kim
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/julia.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Julia Luo
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/nav.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Navneedh Maudgalya
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/ryan.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Ryan Hoque
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/young.png); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Young Guo
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/hans.jpg); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Hans Zheng
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
            <div class="col-md-3">

                <li class="member flex-list-item" style="background: url(../static/images/thumbs/sorjo.JPG); background-size: cover;">
                    <div class="member-details">
                        <div class="member-name">
                            Sorjo Banerjee
                        </div>
                        <div class="member-title">
                            Project Developer
                        </div>
                        <div class="member-links">
                        </div>
                    </div>
                </li>
            </div>
        </ul>



    </div>
</div>

<script>
    new VanillaKinetic(document.getElementById("carousel"), {
        cursor: "-webkit-grab"
    });
</script>

{% endblock %}