{% extends "base.html" %} {% block meta %}
<title>About | CodeBase</title>
{% endblock %} {% block body %}
<link rel="stylesheet" href="{% static '/static/css/about_us.css' %}">
<script src="../static/js/vendor/vanilla.kinetic.js"></script>

<div class="top-section">
    <div class="container-fluid">
        <div class="top-section-content">
            <div class="top-section-body">
                <div class="top-section-title">
                    About Us
                </div>
                <div class="top-section-desc">
                    We are a community of hackers, designers, and inventors at Cal, brought together by our love of building and solving problems through code. However, we also take pride in the diversity and wide range of non-technical talents within our CodeBase family. We love to make memories together – from semesterly retreats to boba runs and late-night study sessions. Our work is our passion, but that doesn’t mean we can’t have some fun along the way.
                </div>
            </div>
            <img onMouseOver="this.src='../static/images/rocket.gif'" onMouseOut="this.src='../static/images/med_berkelium.png'" class="top-section-img" src="../static/images/rocket.gif" width="25%" />
        </div>
    </div>
</div>

<div class="carousel-container">
    <div id="carousel">
        <img src="../static/images/thumbs/ficom.png" />
        <img src="../static/images/thumbs/gang.png" />
        <img src="../static/images/thumbs/brianaward.jpg" />
        <img src="../static/images/thumbs/karaoke.JPG" />
    </div>
</div>

<div class="meet-the-team">
    <div class="container-fluid">
        <div class="meet-the-team-headline" id="team-section">
            Meet The Team
        </div>

        <div class="members flex-list" id="member-ul">
            <!-- Populated with JS -->
        </div>



    </div>
</div>

<script>
new VanillaKinetic(document.getElementById("carousel"), {
    cursor: "-webkit-grab"
});

String.prototype.format = function () {
        var args = [].slice.call(arguments);
        return this.replace(/(\{\d+\})/g, function (a){
            return args[+(a.substr(1,a.length-2))||0];
        });
};

/* People. Any value of 0 indicates that they have not provided this info. */
people = [
    {
        name : "Abhishyant Khare",
        title : "President",
        linkedin : "https://www.linkedin.com/in/abhishyantkhare",
        github : "https://www.github.com/abhishyantkhare",
        personal_site : "http://www.abhishyant.com",
        image : "../static/images/thumbs/abhi.png"
    }, {
        name : "Kush Rastogi",
        title : "VP of Projects",
        linkedin : "https://www.linkedin.com/in/kushrastogi/",
        github : "https://github.com/kushrast",
        personal_site : 0,
        image : "../static/images/thumbs/kush.png"
    }, {
        name : "Raghav Anand",
        title : "VP of Projects",
        linkedin : "https://www.linkedin.com/in/raghav-anand-034b89127/",
        github : "https://github.com/raghavanand98",
        personal_site : "http://raghavanand98.com/",
        image : 0
    }, {
        name : "Kavita Vijayan",
        title : "Internal VP",
        linkedin : "https://www.linkedin.com/in/kavita-vijayan-339500126/",
        github : "https://github.com/kavitavijayan",
        personal_site : 0,
        image : 0
    }, {
        name : "Lang Tran",
        title : "Internal VP",
        linkedin : "https://www.linkedin.com/in/lang-tran-753572b9/",
        github : "https://github.com/itsbluething/",
        personal_site : 0,
        image : 0
    }, {
        name : "Pal Makkar",
        title : "Professional Development VP",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Cindy Yuan",
        title : "Design VP",
        linkedin : "https://www.linkedin.com/in/cindyjyuan",
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Tim Foster",
        title : "Operations VP",
        linkedin : "https://www.linkedin.com/in/cindyjyuan",
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Ellen Luo",
        title : "Project Manager",
        linkedin : "https://www.linkedin.com/in/ellenluo/",
        github : "https://github.com/ellenluo",
        personal_site : "http://ellenluo.me/",
        image : 0
    }, {
        name : "Sahana Srinivasan",
        title : "Project Manager",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Ivon Liu",
        title : "Project Manager",
        linkedin : "https://www.linkedin.com/in/ivonliu/",
        github : "https://github.com/ivonliu",
        personal_site : "http://ivonliu.com/",
        image : 0
    }, {
        name : "Saurav Kadavath",
        title : "Project Manager",
        linkedin : "https://www.linkedin.com/in/saurav-kadavath-808b07132/",
        github : "https://github.com/ssss1029",
        personal_site : "http://www.sauravkadavath.com/",
        image : 0
    }, {
        name : "Brian DeLeonardis",
        title : "Mentored Project Manager",
        linkedin : "https://www.linkedin.com/in/brian-deleonardis-b49030121/",
        github : "https://github.com/bdeleonardis1",
        personal_site : 0,
        image : 0
    }, {
        name : "Andrew Chan",
        title : "Mentored Project Manager",
        linkedin : "https://www.linkedin.com/in/andrew-k-chan",
        github : "https://github.com/theandrewchan",
        personal_site : "https://theandrewchan.github.io/",
        image : 0
    }, {
        name : "Aismit Das",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Aneesh Khera",
        title : "Project Developer",
        linkedin : "https://www.linkedin.com/in/aneeshkhera",
        github : "https://github.com/kapleesh",
        personal_site : 0,
        image : 0
    }, {
        name : "Cynthia Wang",
        title : "Project Developer",
        linkedin : "https://www.linkedin.com/in/cynthia-wang-4ab743132/",
        github : "https://github.com/wangcynthia",
        personal_site : "https://wangcynthia.github.io/",
        image : 0
    }, {
        name : "Jaemin Kim",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Julia Luo",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Navneedh Maudgalya",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Ryan Hoque",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Young Guo",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Hans Zheng",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }, {
        name : "Sorjo Banerjee",
        title : "Project Developer",
        linkedin : 0,
        github : 0,
        personal_site : 0,
        image : 0
    }
]


/* Populate the about page */ 
$(document).ready(function() {
    for (i = 0; i < people.length; i++) {
        current = people[i];
        $("#member-ul").append(generate_person_showase(current.name, current.title, current.image, current.linkedin, current.github, current.personal_site));
    }
}); 


function generate_person_showase(name, title, image, linkedin, github, personal_site) {
    if (name == 0) {
        name = "Default Name"
    }

    if (title == 0) {
        title = "Project Developer"
    }

    if (image == 0) {
        image = "http://via.placeholder.com/250x250"
    }
    
    return_str = "<div class=\"member flex-list-item\" style=\"background-image: url({0});\">\
                        <div class=\"member-details\">\
                            <div class=\"member-details-wrapper\">\
                                <div class=\"inner-member-details inner-member-details member-name\">{1}</div>\
                                <div class=\"inner-member-details inner-member-details member-title\">{2}</div>\
                                <div class=\"inner-member-details inner-member-details member-links\">".format(image, name, title)

    if (linkedin != 0) {
        return_str += "<a href=\"{0}\"><img class=\"member-link-image\" src=\"../static/images/linkedin.png\" /></a>".format(linkedin)
    }

    if (github != 0) {
        return_str += "<a href=\"{0}\"><img class=\"member-link-image\" src=\"../static/images/github.png\" /></a>".format(github)
    }

    if (personal_site != 0) {
        return_str += "<a href=\"{0}\"><img class=\"member-link-image\" src=\"../static/images/personal_site.png\" /></a>".format(personal_site)
    }

    return_str += "             </div>\
                            </div>\
                        </div>\
                    </div>"

    console.log(return_str)
    return return_str
}

</script>

{% endblock %}