{% extends "base.html" %} {% block body %}
<div class="jumbotron page-banner about-banner">
	<div class="container">
		<h1>About Us</h1>
	</div>
</div>

<div class="jumbotron mission">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Mission</h1>
			<h3>CodeBase is a non-profit UC Berkeley student organization that develops and designs software, websites, and apps for companies with a vision. We will improve our community by helping businesses take their innovative ideas to concrete production. Furthermore, we will create a fast-paced, project-based working environment for Berkeley students.</h3>
		</div>
	</div>
</div>

<div class="jumbotron client-info">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Work With Us</h1>
			<h3>As a Computer Science consulting organization, CodeBase aims to offer quality feedback on the needs and objectives of early-stage startups based in the Bay Area. For startups without technical talent, or for those in need of more, transforming a company from an idea to a business can be difficult. CodeBase alleviates growing pains and accelerates early growth by helping startups refine and advance their technical plan. </h3>
		</div>
	</div>
</div>

<div class="container-fluid team">
	<div class="row">
		<h1 style="padding-top:40px; padding-bottom:30px;">Meet The CodeBase Team</h1>


		<div class="col-lg-2 col-lg-offset-5 team-member">
			<img src="../static/images/team/abhi.jpg" alt="Abhishyant Khare" height="200" width="200">
			<h2>Abhishyant Khare</h2>
			<h4>President</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3  team-member col-lg-offset-3">
			<img src="../static/images/team/kush.jpg" alt="Kush Rastogi" height="200" width="200">
			<h2>Kush Rastogi</h2>
			<h4>External VP</h4>
		</div>

		<div class="col-lg-3 team-member">
			<img src="../static/images/team/vivek.jpg" alt="Vivek Jain" height="200" width="200">
			<h2>Vivek Jain</h2>
			<h4>Internal VP</h4>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-3 team-member">
			<img src="../static/images/team/tim.jpg" alt="Tim Foster" height="200" width="200">
			<h2>Tim Foster</h2>
			<h4>Head of Technologies, Treasurer</h4>
		</div>
		<div class="col-lg-3 team-member">
			<img src="../static/images/team/jeremy.jpg" alt="Jeremy Le-Tran" height="200" width="200">
			<h2>Jeremy Le-Tran</h2>
			<h4>Head of Design</h4>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-3 team-member">
			<img src="../static/images/team/ashwin.jpg" alt="Ashwin Muthu" height="200" width="200">
			<h2>Ashwin Muthu</h2>
			<h4>Activities Director</h4>
		</div>
		<div class="col-lg-3 team-member">
			<img src="../static/images/team/pal.jpg" alt="Pal Makkar" height="200" width="200">
			<h2>Pal Makkar</h2>
			<h4>Project Manager</h4>
		</div>

	</div>

	<h3 class="contact-blurb">Our team is constantly growing and searching for talented students.<br />
	<a href="{% url '/contact.html' %}">Contact us</a> for more information!</h3>
</div>
{% endblock %}