{% extends "base.html" %}
{% block meta %}
<title>Join Us | CodeBase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/apply.css' %}">

<div class="apply-section">
	<div class="container-fluid">
		<a href="#">
    		<div class="apply-box">
        	    Apply for a Consulting Project
        	</div>
    	</a>
		<a href="#">
    		<div class="apply-box">
        	    Apply for the Mentored Project
        	</div>
    	</a>
	</div>
</div>


{% endblock %}
