{% extends "base.html" %} {% block body %}


<div class="container-fluid contact">


	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 contact-option">
			<h2>If you're a company interested in working with us, please see the <a href="{% url '/services.html' %}">services</a> page for more information.</h2>

			<h2>Other Questions? Contact us with the form below!</h2>
			<!-- Change the width and height values to suit you best -->
			<div class="typeform-widget" data-url="https://codebase1.typeform.com/to/B6FuSO" data-text="Contact Form" style="width:100%;height:700px;"></div>
			<script>
				(function () {
					var qs, js, q, s, d = document,
						gi = d.getElementById,
						ce = d.createElement,
						gt = d.getElementsByTagName,
						id = 'typef_orm',
						b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
					if (!gi.call(d, id)) {
						js = ce.call(d, 'script');
						js.id = id;
						js.src = b + 'widget.js';
						q = gt.call(d, 'script')[0];
						q.parentNode.insertBefore(js, q)
					}
				})()
			</script>
		</div>
	</div>
</div>
{% endblock %}