{% extends "base.html" %} {% block meta %}
<title>Contact - CodeBase</title>
<meta name="description" content=""> {% endblock %} {% block body %}
<link rel="stylesheet" href="{% static '/static/css/contact.css' %}">

<div class="top-section">
	<div class="container-fluid">
		<div class="top-section-content">
			<div class="top-section-body">
				<div class="top-section-title">
					Contact Us
				</div>
				<div class="top-section-desc">
					Fill out this form so we can learn a little more about your project and your needs.
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
