{% extends "base.html" %} {% block body %}

<div class="jumbotron">
	<div class="container donate-banner">
		<h1>Donate</h1>
	</div>
</div>


<div class="jumbotron client-info">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Comming Soon</h1>
			<h3>We're working hard to get everything set up as fast as we can!</h3>
			<h3>If you would like to contribute to us early email <a href="mailto:berkeley.codebase@gmail.com?Subject=Donations" target="_top">berkeley.codebase@gmail.com</a></h3>
		</div>
	</div>
</div>


{% endblock %}