{% extends "base.html" %} {% block meta %}
<title>CodeBase</title>
<meta name="description" content=""> {% endblock %} {% block body %}
<div style="padding-top:5vh;"></div>
<link rel="stylesheet" href="{% static '/static/css/index.css' %}">
<link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static '/static/css/main.css' %}">
<link rel="stylesheet" href="{% static '/static/font-awesome/css/font-awesome.min.css' %}">


<section id="main">
	<div class="topbgimg"></div>

	<div class="centered-absolute">
		<div class="mission">
			<div class="mission-text">Berkeley CodeBase</div>
		</div>

		<div class="bg">
			<div class="bg-text">tech consulting for high-growth startups</div>
		</div>

		<div class="btn-container">
			<a class="about">About Us</a>
			<a class="apply" href="{% url '/join.html' %}">Apply</a>
		</div>
	</div>
</section>

 <div class="span4 offset4 text-center">
<img class="gear" src="/static/images/ProjectsIcon.png" />
<div class="projects-wrapper">
	<div class="projects">
		THIS SEMESTER'S PROJECTS
	</div>
</div>
</div>

<div class="row">
    <div class="span4 offset4 text-center">
	<div class="card card-1">
		<div class="card-title">
			Ongo
		</div>
		<div class="card-subtitle">
			IoT
		</div>
		<div class="project-desc">
			Ongo is a startup helping health and fitness experts create mobile learning experiences. Its app provides users with interactive courses and tutorials that integrate with other devices, creating a personalized data-driven experience. This semester, we're working to integrate Ongo's platform with various devices, such as Amazon Echo.
		</div>
		<div class="circle1">

		</div>
	</div>

	<div class="card card-2">
		<div class="card-title-2">
			Sutro
		</div>
		<div class="card-subtitle-2">
			App Development
		</div>
		<div class="project-desc">
			Based out of San Francisco, Sutro is a hardware startup developing a smart pool monitor that measures water chemistry and delivers the appropriate chemicals as they're depleted. CodeBase is working with Sutro to develop a cross-platform mobile application that allows pool boys to plan and track their route for the day, send status reports and statistics to their customers, and check billing information.
		</div	>
		<div class="circle2">

		</div>
	</div>

	<div class="card card-3">
		<div class="card-title-3">
			Crowdbotics
		</div>
		<div class="card-subtitle-3">
			NLP/AI Chatbot
		</div>
		<div class="project-desc">
			Crowdbotics is a startup automating the process of connecting clients with developing needs with capable engineers. We're working with Crowdbotics to develop a chatbot that interviews potential engineers for a project and applies NLP algorithms to choose which engineers are the right fit for a software development project.
		</div>
		<div class="circle3">

		</div>
	</div>
</div>
</div>





<div class="projects-wrapper">
<img class="tie" src="/static/images/CommitteesIcon.png" />
	<div class="projects">
		PROFESSIONAL COMMITTEES
	</div>
</div>
<div class="row">
    <div class="span4 offset4 text-center">
	<div class="card-comm card-comm-1">
		<div class="card-title">
			FINANCE
		</div>
		<div class="comm-desc">
			<ul class="comm-list">
				The Finance Committee oversees the club budget and club financial development. If you’re interested in business, the Finance Committee will give you some real world experience!
			</ul>
		</div>
		<img class="comm-img-1" src="/static/images/FinanceIcon.png" />
	</div>
	<div class="card-comm card-comm-2">
		<div class="card-title-2">
			MARKETING
		</div>
		<div class="comm-desc">
			<ul class="comm-list">
				The Marketing Committee works on creating promotional material for club events. This committee will give you chance to do some design and gain valuable marketing experience!
			</ul>
		</div>
		<img class="comm-img-2" src="/static/images/MarketingIcon.png" />
	</div>
	<div class="card-comm card-comm-2">

		<div class="card-title-4-1">
			PROFESSIONAL
		</div>
		<div class="card-title-4">
			DEVELOPMENT
		</div>
		<div class="comm-desc-4">
			<ul class="comm-list">
				The Professional Development Committee organizes professional events in the club. Help plan resume workshops, company tours, infosessions and more!
			</ul>
		</div>
		<img class="comm-img-3" src="/static/images/ProfessionalDevelopmentIcon.png" />
	</div>
	<div class="card-comm card-comm-2">

		<div class="card-title-5-1">
			INTERNAL
		</div>
		<div class="card-title-5">
			RELATIONS
		</div>
		<div class="comm-desc-4">
			<ul class="comm-list">
				The Internal Relations Committee works on organizing events within the club. Plan socials, retreat, banquet and be a crucial part of club bonding!
			</ul>
		</div>
		<img class="comm-img-4" src="/static/images/InternalRelationsIcon.png" />
	</div>
</div>
</div>



{% endblock %}
