{% extends "base.html" %} {% block meta %}
<title>CodeBase</title>
<meta name="description" content=""> {% endblock %} {% block body %}
<div style="padding-top:5vh;"></div>
<link rel="stylesheet" href="{% static '/static/css/index.css' %}">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/main.css' %}">
	<link rel="stylesheet" href="{% static '/static/font-awesome/css/font-awesome.min.css' %}">




		<div class="mission">
			<h1 >Berkeley CodeBase</h1>
		</div>

	
		<div class="bg">
			<h3>tech consulting for high-growth startups</h3>
		</div>



    
<div class="apply-container">
    
    <a class="apply" href="{% url '/team/index.html' %}">
           APPLY
    </a>
</div>
    

    <img class="gear" src="/static/images/ProjectsIcon.png"/>


<div class="projects-wrapper">
    <div class="projects">
        THIS SEMESTER'S PROJECTS
    </div>
    </div>
<div class="card card-1">
</div>

{% endblock %}