{% extends "base.html" %}
{% block meta %}
<title>CodeBase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<div style="padding-top:5vh;"></div>
<link rel="stylesheet" href="{% static '/static/css/index.css' %}">
<link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.css' %}">
<link rel="stylesheet" href="{% static '/static/css/main.css' %}">
<link rel="stylesheet" href="{% static '/static/font-awesome/css/font-awesome.min.css' %}">


<div class="hero">
	<div class="topbgimg"></div>

	<div class="centered-absolute">
		<div class="mission">
			<div class="mission-text">Berkeley CodeBase</div>
			<div class="mission-subtitle">software consulting for high growth startups</div>
		</div>

		<a href="{% url '/aboutus.html' %}">
			<div class="btn-container btn-hero">
				About Us
			</div>
		</a>

		<a href="{% url '/join.html' %}">
			<div class="btn-container btn-hero">
				Join Us
			</div>
		</a>
	</div>
</div>

<div class="event-banner">
	<div class="container-fluid event-banner-body">
		<div class="event-details">
			<div class="event-details-date">
				Thursday, August 24, 4PM
			</div>
			<div class="event-details-loc">
				Cory 400
			</div>
		</div>
		<div class="event-title">
			Infosession 1
		</div>
		<div class="event-link">
			<a href="{% url '/join.html' %}">
				<div class="btn-container btn-negative">
					See Upcoming Events &rarr;
				</div>
			</a>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="what-we-do">
		<img class="fork-decoration" src="static/images/fork-illustration-left.png" />
		<div class="section-body">
			<img class="section-img" src="static/images/calhacks.png" />
			<div class="section-title">
				What We Do
			</div>
			<div class="section-desc">
				We build exceptional technical solutions for businesses collaboratively in a way that
				brings our mix of disciplines, people, and technology together to tackle challenges on any scale.
				Our results-driven process gets right to the point: we promise to deliver a tangible, testable
				product within 3 months. Learn more about the key services we provide:
			</div>
			<div class="section-more">
				<div class="infobox">
					<div class="infobox-content">
						<img class="infobox-icon" src="static/images/PLACEHOLDER_CATPHONE.png" />
						<div class="infobox-title">
							App Development
						</div>
					</div>
				</div>
				<div class="infobox">
					<div class="infobox-content">
						<img class="infobox-icon" src="static/images/PLACEHOLDER_CLOUDSERVER.png" />
						<div class="infobox-title">
							API Development
						</div>
					</div>
				</div>
				<div class="infobox">
					<div class="infobox-content">
						<img class="infobox-icon" src="static/images/PLACEHOLDER_LIGHTBULB.png" />
						<div class="infobox-title">
							Product Prototyping
						</div>
					</div>
				</div>
			</div>
			<a href="{% url '/services.html' %}">
				<div class="btn-container">
					Learn More &rarr;
				</div>
			</a>
		</div>
	</div>

	<div class="who-we-are">
		<div class="section-body">
			<img class="section-img" src="static/images/whoweare.png" />
			<div class="section-title">
				Who We Are
			</div>
			<div class="section-desc">
				We are a community of hackers, designers, and inventors who code. Something about our group’s
				culture work hard play hard shit like that filler text filler text filler text filler text
				filler text filler text filler text filler text filler text filler text filler text filler
				text filler text filler text filler text filler text filler text filler text filler text filler text
			</div>
			<a href="{% url '/aboutus.html' %}">
				<div class="btn-container">
					Learn More &rarr;
				</div>
			</a>
		</div>
		<img class="fork-decoration" src="static/images/fork-illustration-right.png" />
	</div>
</div>

<div class="projects">
	<div class="container-fluid">
		<div class="projects-header">
			<div class="projects-headline">
				This Semester's Projects
			</div>
			Each semester CodeBase works in teams of 9 to build a project for 3 months. Check out this semester's projects below.
		</div>
		<div class="projects-row">
			<div class="project-box">
				<div class="project-box-content">
					<img class="infobox-icon" src="static/images/PLACEHOLDER_BLUELIGHTBULB.png" />
					<div class="project-box-title">
						Ongo
					</div>
					<div class="project-box-subtitle">
						IOT
					</div>
					<div class="project-box-desc">
						Ongo is a startup helping health and fitness experts create mobile learning experiences. We're working to integrate Ongo's platform with Amazon Echo.
					</div>
				</div>
			</div>
			<div class="project-box">
				<div class="project-box-content">
					<img class="infobox-icon" src="static/images/PLACEHOLDER_BLUECLOUDSERVER.png" />
					<div class="project-box-title">
						Crowdbotics
					</div>
					<div class="project-box-subtitle">
						NLP/AI
					</div>
					<div class="project-box-desc">
						We're working with Crowdbotics to make a chatbot that interviews  engineers for a project and applies NLP algorithms to choose the best fits for a software development project.
					</div>
				</div>
			</div>
			<div class="project-box">
				<div class="project-box-content">
					<img class="infobox-icon" src="static/images/PLACEHOLDER_BLUECATPHONE.png" />
					<div class="project-box-title">
						Sutro
					</div>
					<div class="project-box-subtitle">
						App Development
					</div>
					<div class="project-box-desc">
						Sutro is developing a smart pool monitor that delivers pool chemicals as needed. We’re making a cross-platform mobile application integrated with the device.
					</div>
				</div>
			</div>
		</div>
		<div class="projects-row">
			<div class="project-box">
				<div class="project-box-content">
					<img class="infobox-icon" src="static/images/PLACEHOLDER_BLUELIGHTBULB.png" />
					<div class="project-box-title">
						Ongo
					</div>
					<div class="project-box-subtitle">
						IOT
					</div>
					<div class="project-box-desc">
						Ongo is a startup helping health and fitness experts create mobile learning experiences. We're working to integrate Ongo's platform with Amazon Echo.
					</div>
				</div>
			</div>
			<div class="project-box">
				<div class="project-box-content">
					<img class="infobox-icon" src="static/images/PLACEHOLDER_BLUELIGHTBULB.png" />
					<div class="project-box-title">
						Ongo
					</div>
					<div class="project-box-subtitle">
						IOT
					</div>
					<div class="project-box-desc">
						Ongo is a startup helping health and fitness experts create mobile learning experiences. We're working to integrate Ongo's platform with Amazon Echo.
					</div>
				</div>
			</div>
			<div class="project-box see-past-projects">
				<div>
					See past projects
				</div>
			</div>
		</div>
	</div>
</div>

<div class="next-steps">
	<div class="split-container">
		<div class="split-left">
			<div class="next-step-subtitle">
				For companies
			</div>
			<div class="next-step-title">
				Have a project for us?
			</div>
			<a href="#">
				<div class="btn-container btn-black">
					Contact Us &rarr;
				</div>
			</a>
		</div>
		<div class="split-right">
			<div class="next-step-subtitle">
				For students
			</div>
			<div class="next-step-title">
				Want to be a part of our team?
			</div>
			<a href="#">
				<div class="btn-container btn-black">
					Join Us &rarr;
				</div>
			</a>
		</div>
	</div>
</div>


{% endblock %}
