{% extends "base.html" %} {% block meta %}
<title>Join Us</title>
{% endblock %} {% block body %}

<div class='container join-us-container '>
	<div class='row text-center p-ud'>
		<img id="join-us-img" src='/static/images/JoinUsIcon.png' alt='Join Us Logo' />
		<h2 class="h2" id="join-us-heading"> JOIN US </h2>
	</div>

	<table class="schedule">
		<tr>
			<th class="dates"> Friday, Jan. 20 </th>
			<th class="info">
				<ul class="event-name"> Infosession 1 </ul>
				<ul> Cory 400, 4pm </ul>
				<ul> Come learn about what CodeBase has to offer! </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Monday, Jan. 23 </th>
			<th class="info">
				<ul class="event-name"> Infosession 2 </ul>
				<ul> Location TBA, 7pm </ul>
				<ul> If you couldn't make Infosession 1 </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Tuesday, Jan. 24 </th>
			<th class="info">
				<ul class="event-name"> Applications Due </ul>
				<ul> Submit online by 11:59pm </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Thursday, Jan. 26 - Feb. 2 </th>
			<th class="info">
				<ul class="event-name"> Coffee Chats and Interviews </ul>
				<ul> For us to get to know you better. </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Friday, Feb. 3 </th>
			<th class="info">
				<ul class="event-name"> Social Night </ul>
				<ul> Location, 5pm </ul>
				<ul> Get to know us in a social setting! </ul>
			</th>
		</tr>

	</table>

	<div class="apply-container">

		<a class="apply" href="https://codebase.berkeley.edu/apply">
	           APPLY
	    </a>
	</div>
</div>

{% endblock %}