{% extends "base.html" %}
{% block meta %}
<title>Services - CodeBase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/services.css' %}">

<div class="top-section">
	<div class="container-fluid">
		<div class="top-section-content">
			<div class="top-section-body">
				<div class="top-section-title">
					Join Us
				</div>
				<div class="top-section-desc">
					Description needed?
				</div>
			</div>
			<img class="top-section-img" src="../static/images/PLACEHOLDER_MEDIUM_DOODLE.png" />
		</div>
	</div>
</div>

<div class='container join-us-container '>
	<div class='row text-center p-ud'>
	</div>

	<table class="schedule">
		<tr>
			<th class="dates"> Friday, Jan. 20 </th>
			<th class="info">
				<ul class="event-name"> Infosession 1 </ul>
				<ul> Cory 400, 4pm </ul>
				<ul> Come learn about what CodeBase has to offer! </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Monday, Jan. 23 </th>
			<th class="info">
				<ul class="event-name"> Infosession 2 </ul>
				<ul> Location TBA, 7pm </ul>
				<ul> If you couldn't make Infosession 1 </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Friday, Jan. 27 </th>
			<th class="info">
				<ul class="event-name"> Applications Due </ul>
				<ul> Submit online by 11:59pm </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Sunday, Jan. 29 - Feb. 4 </th>
			<th class="info">
				<ul class="event-name"> Coffee Chats and Interviews </ul>
				<ul> For us to get to know you better. </ul>
			</th>
		</tr>
		<tr>
			<th class="dates"> Saturday, Feb. 4 </th>
			<th class="info">
				<ul class="event-name"> Social Night </ul>
				<ul> Location, 5pm </ul>
				<ul> Get to know us in a social setting! </ul>
			</th>
		</tr>

	</table>

	<div class="apply-container">

		<a class="apply" href="https://codebase.berkeley.edu/apply">
	           APPLY
	    </a>
	</div>
</div>

<div class="faqs" id="faqs-section">
    <div class="container-fluid">
        <div class="faqs-content">
            <div class="faqs-title">
                Frequently Asked Questions
            </div>
            <div class="faqs-question">
                What is CodeBase’s project structure?
            </div>
            <div class="faqs-answer">
                CodeBase's project structure consists of 4-5 project teams, each with a project manager and 6-8 developers on the team. The project manager serves as the main point of contact between the team and the client.
            </div>
            <div class="faqs-question">
                What is the typical project timeline?
            </div>
            <div class="faqs-answer">
                Although it may vary slightly depending on the project, each project typically spans about 12 weeks and includes a mid-semester deliverable at around Week 5 and a final deliverable at around Week 10. It also includes a 2 week period at the end of the project after development ends for Q&A and Technical Handoff. 
            </div>
            <div class="faqs-question">
                What is the difference between a mentored project and consulting project?
            </div>
            <div class="faqs-answer">
                ??
            </div>
            <div class="faqs-question">
                What resources does CodeBase have that ensures success?
            </div>
            <div class="faqs-answer">
                Something about what we provide like workshops and stuff
            </div>
            <div class="faqs-question">
                What kind of developers is CodeBase looking for?
            </div>
            <div class="faqs-answer">
                ??
            </div>
        </div>
    </div>
</div>

{% endblock %}
