{% extends "base.html" %}
{% block meta %}
<title>Projects | CodeBase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/projects.css' %}">



<div class="curr-projects" id="curr-projects">
    <div class="container-fluid">
        <div class="projects-header">
			<div class="curr-projects-headline">
				This Semester's Projects
			</div>
			Every semester we work on a variety of exciting projects. Check out what we have this semester!
		</div>
        <div class="curr-projects-row">
			<div class="curr-project-box">
				<div class="curr-project-box-content">
					<div class="curr-project-box-title">
						<a href="https://bons.ai/" id="colink" target="_blank">Bonsai</a>
					</div>
					<div class="curr-project-box-subtitle">
						AI and Simulation
					</div>
					<div class="curr-project-box-desc">
					Bonsai makes machine learning libraries more accessible to developers. We’re using Bonsai's platform to build and optimize AI-driven simulations.
					</div>
				</div>
			</div>
			<div class="curr-project-box">
				<div class="curr-project-box-content">
					<div class="curr-project-box-title">
						<a href="https://meetbeam.com/" id="colink" target="_blank">Beam</a>
					</div>
					<div class="curr-project-box-subtitle">
						Web Application
					</div>
					<div class="curr-project-box-desc">
					Beam is a fintech company making an improved banking system. We will be making an internal administrative platform to visualize and analyze Beam product data.
					</div>
				</div>
			</div>
			<div class="curr-project-box">
				<div class="curr-project-box-content">
					<div class="curr-project-box-title">
						<a href="http://getpolymorph.com/" id="colink" target="_blank">Polymorph</a>
					</div>
					<div class="curr-project-box-subtitle">
						Machine Learning
					</div>
					<div class="curr-project-box-desc">
						Polymorph is an ad-tech company that sells an ad-serving suite for publishers. We’re using data analytics and machine learning to improve ad pricing decisions.
					</div>
				</div>
			</div>
		</div>
        <div class="curr-projects-row">
        <!--    <div class="curr-project-box">
                <div class="curr-project-box-content">
                    <div class="curr-project-box-title">
                        <a href="https://riffyn.com/" id="colink" target="_blank"> Project </a>
                    </div>
                    <div class="curr-project-box-subtitle">
                        Category
                    </div>
                    <div class="curr-project-box-desc">
                        	We're doing machine learning big data neural networks on IoT responsive web devices so that we can run Tensorflow on the biggest and deepest self driving cars.
                    </div>
                </div>
            </div> --->
            <div class="curr-project-box">
                <div class="curr-project-box-content">
                    <div class="curr-project-box-title">
                        <a href="https://github.com/codebase-berkeley-mentored-project-fa17/ApplicationPortal" id="colink" target="_blank"> Mentored Project </a>
                    </div>
                    <div class="curr-project-box-subtitle">
                        App Development
                    </div>
                    <div class="curr-project-box-desc">
                        Mentored project members will be learning the basics of software engineering and web application development through building an internship information app, similar to Glassdoor, for the club.
                    </div>
                </div>
            </div>
            <div class="curr-project-box curr-project-box-empty">
                <div class="curr-project-box-content">
                    <div class="curr-project-box-title">

                    </div>
                    <div class="curr-project-box-subtitle">

                    </div>
                    <div class="curr-project-box-desc">

                    </div>
                </div>
            </div>
            <div class="curr-project-box curr-project-box-empty">
                <div class="curr-project-box-content">
                    <div class="curr-project-box-title">

                    </div>
                    <div class="curr-project-box-subtitle">

                    </div>
                    <div class="curr-project-box-desc">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top-section">
	<div class="container-fluid">
		<div class="top-section-content">
			<div class="top-section-body">
				<div class="top-section-title">
					Past Projects
				</div>
				<div class="top-section-desc">
                    Code is our craft - we’ve built many projects helping companies across many industries. See some of our recent partnerships below
				</div>
			</div>
			<img onMouseOver="this.src='../static/images/litbulb.png'" onMouseOut="this.src='../static/images/unlitbulb.png'" class="top-section-img" src="../static/images/unlitbulb.png" width="35%" />
		</div>
	</div>
</div>
<div class="projects">
    <div class="container-fluid">
        <ul class="flex-list projects-cards">
            <li class="flex-list-item company-card" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/resultcare1.png);">
                </div>
                <div class="company-card-subtitle">
                    App Development & Web Backend
                </div>
                <div class="company-card-desc">
                    ResultCare is developing a data platform for medical professionals. We upgraded their mobile apps with new designs integrating social network features with their backend.
                </div>
            </li>
            <li class="flex-list-item company-card" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/riffyn.png);">
                </div>
                <div class="company-card-subtitle">
                    Data Analytics
                </div>
                <div class="company-card-desc">
                    Riffyn creates collaborative software for biotech and chemical industries. We developed data analytics and visualization software for Riffyn’s users.
                </div>
            </li>
            <li class="flex-list-item company-card" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/visumenu.png);">
                </div>
                <div class="company-card-subtitle">
                    Chatbot & Backend
                </div>
                <div class="company-card-desc">
                    VisuMenu is a search engine for automated phone menus. We provided a backend implementation for UC Berkeley’s phone systems and building a Facebook chatbot for users to interact with the menus.
                </div>
            </li>
            <li class="flex-list-item company-card" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/yituux.png);">
                </div>
                <div class="company-card-subtitle">
                    Cloud Computing
                </div>
                <div class="company-card-desc">
                    YiTuuX is creating AI-driven healthcare solutions. We built backend solutions to help YiTuux scale and manage the deployment of their diabetes detection algorithm.
                </div>
            </li>
            <li class="flex-list-item company-card" style= "cursor: pointer;">
               <div class="company-card-logo" style="background-image: url(../static/images/projects/mentoredproject.png);">
                </div>
                <div class="company-card-subtitle">
                    App Development
                </div>
                <div class="company-card-desc">
                    Mentored project members will learn the basics of software engineering and web application development through building an admissions management app for the club.
                </div>
            </li>
            <li class="flex-list-item company-card" onclick="location.href='{% url '/crowdbotics.html' %}';" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/crowdbotics.png);">
                </div>
                <div class="company-card-subtitle">
                    Api Development
                </div>
                <div class="company-card-desc">
                    We developed a chatbot that applies NLP algorithms to choose which engineers are the right fit for a software development project.
                </div>
            </li>
            <li class="flex-list-item company-card" onclick="location.href='{% url '/ongo.html' %}';" style= "cursor: pointer;">
                <div class="company-card-logo" style="background-image: url(../static/images/projects/ongo.png);">
                </div>
                <div class="company-card-subtitle">
                    IOT
                </div>
                <div class="company-card-desc">
                    Ongo is a startup that creates mobile learning experiences for health and fitness experts. We integrated Ongo's platform with Amazon Echo, Fitbit, and Withings devices.
                </div>
            </li>
            <li class="flex-list-item company-card" onclick="location.href='{% url '/sutro.html' %}';" style= "cursor: pointer;">
                <div class="company-card-logo sutro-logo" style="background-image: url(../static/images/projects/sutro.png);">
                </div>
                <div class="company-card-subtitle">
                    App Development
                </div>
                <div class="company-card-desc">
                    We built a cross-platform mobile application for monitoring and maintaining pool chemistry, integrating with Sutro's ready-made device.
                </div>
            </li>
            <li class="flex-list-item company-card" onclick="location.href='{% url '/upstream.html' %}';" style= "cursor: pointer;">
                <div class="company-card-logo upstream-logo" style="background-image: url(../static/images/projects/upstream.png);">
                </div>
                <div class="company-card-subtitle">
                    App Development
                </div>
                <div class="company-card-desc">
                    With Upstream, we performed end-to-end design and development of a website to match cancer patients with clinical trials.
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="next-steps">
	<div class="split-container">
		<div class="split-left">
			<div class="next-step-subtitle">
				For companies
			</div>
			<div class="next-step-title">
				Have a project for us?
			</div>
			<a href="{% url '/contact.html' %}">
				<div class="btn-container btn-join">
					Contact Us &rarr;
				</div>
			</a>
		</div>
		<div class="split-right">
			<div class="next-step-subtitle">
				For students
			</div>
			<div class="next-step-title">
				Want to be a part of our team?
			</div>
			<a href="{% url '/join.html' %}">
				<div class="btn-container btn-join">
					Join Us &rarr;
				</div>
			</a>
		</div>
	</div>
</div>

{% endblock %}
