{% extends "base.html" %} {% block body %}

<div class="jumbotron client-contact">
	<div class="container">
		<h1>Services We Offer</h1>
	</div>
</div>


<div class="jumbotron client-info">

	<div class="row">
		<div class="col-lg-3 col-lg-offset-2 service">
			<h2>Consulting</h2>
			<!--			<img src="../static/images/team/blank.svg" height="150px" width="150px">-->
		</div>
		<div class="col-lg-5 service-description">
			<h2>Need some guidance on implementing your idea? We can help you develop a technical plan consisting of state of the art technology options, development outlines, potential markets, and more.
			</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6 col-lg-offset-2 service-description">
			<h2>While we recommend that every startup hire an in house team to develop their core technology, we offer supplemental development including informational  websites and demos built with your  technology.
			</h2>
		</div>
		<div class="col-lg-2 service">
			<h2>Product <br />Development</h2>
			<!--			<img src="../static/images/team/blank.svg" height="150px" width="150px">-->

		</div>
	</div>


	<div class="row">
		<div class="col-lg-3 col-lg-offset-2 service">
			<h2>Quality <br />Assurance</h2>
			<!--			<img src="../static/images/team/blank.svg" height="150px" width="150px">-->
		</div>
		<div class="col-lg-5 service-description">
			<h2>Have some code or an app but aren’t sure if it’s up to par? Our team can provide bug testing and user feedback to make you confident in your product.</h2>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-6 col-lg-offset-2 service-description">
			<h2>If CodeBase is unavailable to help you with your request, connect you with talented UC Berkeley students, unaffiliated with CodeBase, who can work with you part or full time to develop your product.</h2>
		</div>
		<div class="col-lg-2 service">
			<h2>Recruitment</h2>
			<!--			<img src="../static/images/team/blank.svg" height="150px" width="150px">-->

		</div>
	</div>

</div>
{% endblock %}