{% extends "base.html" %} {% block body %}

<div class="jumbotron students">
	<div class="container">
		<h1>Join The CodeBase Team!</h1>
	</div>
</div>


<div class="jumbotron student-info">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Work With Us</h1>
			<h3>CodeBase provides a unique opportunity for you to work with startups and companies on industry projects. You will design, develop, and consult on real world technical challenges, as well as build an impressive portfolio and resume. In addition, there will you will get the chance to network with companies and for professional growth, all while working in a fun, fast-paced environment with your fellow bears.</h3>

			<h2>Apply <a target="_blank" href="{% url '/application.html' %}">here</a>! </h2>
		</div>
	</div>
</div>
{% endblock %}