{% extends "base.html" %} {% block body %}

<div class="jumbotron">
	<div class="container students">
		<h1>Join The CodeBase Team!</h1>
	</div>
</div>


<div class="jumbotron client-info">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>Work With Us</h1>
			<h3>As a Computer Science consulting organization, CodeBase aims to offer quality feedback on the needs and objectives of early-stage startups based in the Bay Area. For startups without technical talent, or for those in need of more, transforming a company from an idea to a business can be difficult. CodeBase alleviates growing pains and accelerates early growth by helping startups refine and advance their technical plan. </h3>
		</div>
	</div>
</div>
{% endblock %}