{% extends "base.html" %} {% block meta %}
<title>Join | CodeBase</title>
<meta name="description" content=""> {% endblock %} {% block body %}

<div class="jumbotron students">
	<div class="container">
		<h1>Join The CodeBase Team!</h1>
		<hr class="underline">
	</div>
</div>


<div class="container-fluid jumbotron student-info">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1 style="font-size:225%; text-align:center;">What can you do at CodeBase?</h1>

			<div class="recruitment">
				<ul>
					<li>
						<h3>Work with startups and companies on industry projects.</h3>
					</li>
					<li>
						<h3>Design, develop, and consult on real world technical challenges, as well as build an impressive portfolio and resume.</h3>
					</li>
					<li>
						<h3>Build professional relationships and network with fast-paced companies.</h3>
					</li>
					<li>
						<h3>Be part of a close community of friends at Cal with many social opportunities.</h3>
					</li>
					<li>
						<h3>Work in a fun, fast-paced environment with your fellow bears.</h3>
					</li>
				</ul>
			</div>
			<!--			<p>CodeBase provides a unique opportunity for you to work with startups and companies on industry projects. You will design, develop, and consult on real world technical challenges, as well as build an impressive portfolio and resume. In addition, there will you will get the chance to network with companies and for professional growth, all while working in a fun, fast-paced environment with your fellow bears.</p>-->

		</div>
	</div>


	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h1 style="font-size:225%; text-align:center;">Who can apply to CodeBase?</h1>
			<h3>CodeBase is always looking for designers and developers to help on our projects. Right now we need people with experience, though we will start doing training next semester. If you are a designer familiar with Sketch, Photoshop, Illustrator, or InDesign or an experienced software developer apply below!</h3>
		</div>
	</div>
	<div class="row" style="padding-top:50px;">
		<div class="col-lg-6 col-lg-offset-3">
			<h1 style="font-size:225%; text-align:center;">Recruitment Timeline</h1>
		</div>
	</div>
	<div class="row recruitment">
		<div class="col-lg-2 col-lg-offset-4 deadline">
			<h3><strong>September 1:</strong></h3>
		</div>
		<div class="col-lg-2 event-desc">
			<h3>Info Session</h3>
		</div>
	</div>
	<div class="row recruitment">
		<div class="col-lg-2 col-lg-offset-4 deadline">
			<h3><strong>September 4:</strong></h3>
		</div>
		<div class="col-lg-2 event-desc">
			<h3>Application Deadline</h3>
		</div>
	</div>
	<div class="row recruitment">
		<div class="col-lg-2 col-lg-offset-4 deadline">
			<h3><strong>September 7-9:</strong></h3>
		</div>
		<div class="col-lg-2 event-desc">
			<h3>Coffee Chats</h3>
		</div>
	</div>
	<div class="row recruitment">
		<div class="col-lg-2 col-lg-offset-4 deadline">
			<h3><strong>September 9-12:</strong></h3>
		</div>
		<div class="col-lg-2 event-desc">
			<h3>Technical Interviews</h3>
		</div>
	</div>

	<div class="row recruitment">
		<div class="col-lg-2 col-lg-offset-4 deadline">
			<h3><strong>September 22:</strong></h3>
		</div>
		<div class="col-lg-2 event-desc">
			<h3>Welcome Night</h3>
		</div>
	</div>


	<div class="break"></div>

	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
			<h3>Created and operated by students with hands on technical experience, CodeBase aims to connect startups with you. Work hard, learn often, and be a part of something great.</h3>
		</div>
	</div>


	<!--	<h2><a target="_blank" href="{% url '/application.html' %}">Apply here!</a></h2>-->

	<h3>Have a question? Shoot us an email at codebase@berkeley.edu</h3>


</div>
{% endblock %}