{% extends "base.html" %} {% block body %}

<!--
<div class="jumbotron about-banner">

</div>
-->




<div class="container-fluid team">

	<div class="row">
		<h1 style="padding-top:140px; padding-bottom:30px; font-size:400%;">Meet The CodeBase Team</h1>


		<div class="col-lg-2 col-lg-offset-5 team-member">
			<img src="../static/images/team/abhi.jpg" alt="Abhishyant Khare" height="200" width="200">
			<h2>Abhishyant Khare</h2>
			<h4>President</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-3  team-member col-lg-offset-3">
			<img src="../static/images/team/kush.jpg" alt="Kush Rastogi" height="200" width="200">
			<h2>Kush Rastogi</h2>
			<h4>External VP</h4>
		</div>

		<div class="col-lg-3 team-member">
			<img src="../static/images/team/vivek.jpg" alt="Vivek Jain" height="200" width="200">
			<h2>Vivek Jain</h2>
			<h4>Internal VP</h4>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-3 team-member">
			<img src="../static/images/team/tim.jpg" alt="Tim Foster" height="200" width="200">
			<h2>Tim Foster</h2>
			<h4>Head of Technologies, Treasurer</h4>
		</div>
		<div class="col-lg-3 team-member">
			<img src="../static/images/team/jeremy.jpg" alt="Jeremy Le-Tran" height="200" width="200">
			<h2>Jeremy Le-Tran</h2>
			<h4>Head of Design</h4>
		</div>

	</div>
	<div class="row">
		<div class="col-lg-3 col-lg-offset-3 team-member">
			<img src="../static/images/team/ashwin.jpg" alt="Ashwin Muthu" height="200" width="200">
			<h2>Ashwin Muthu</h2>
			<h4>Technical Director</h4>
		</div>
		<div class="col-lg-3 team-member">
			<img src="../static/images/team/pal.jpg" alt="Pal Makkar" height="200" width="200">
			<h2>Pal Makkar</h2>
			<h4>Project Manager</h4>
		</div>

	</div>

</div>
{% endblock %}