{% extends "base.html" %}
{% block meta %}
<title>Upstream - Codebase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/upstream.css' %}">

<div class="top-section">
	<div class="container-fluid">
		<div class="top-section-content">
			<div class="top-section-body">
				<div class="top-section-title">
					<img src="../static/images/projects/upstream.png" style="width: 30%">
				</div>
				<div class="top-section-desc">
					Need description
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}