{% extends "base.html" %}
{% block meta %}
<title>Upstream - Codebase</title>
<meta name="description" content="">
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{% static '/static/css/upstream.css' %}">

<div class="top-section">
	<div class="container-fluid">
		<div class="top-section-content">
			<div class="top-section-body">
				<div class="top-section-title">
					<img src="../static/images/projects/upstream.png" style="width: 40%" class="top-section-logo">
				</div>
				<div class="top-section-title">
					The Challenge
				</div>	
				<div class="top-section-desc">
					Add description here
				</div>
				<div class="top-section-title">
					The Solution
				</div>
				<div class="top-section-desc">
					Add description here
				</div>
				<img src="../static/images/upstream-screenshot.png" style="width: 80%" class="upstream-app">
			</div>
		</div>
	</div>
</div>


{% endblock %}