<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta property="og:image" content="http://codebase.club/static/images/cover.png" />{% block meta %} {% endblock %}

        <meta name="viewport" content="width=500">


	<link rel="stylesheet" href="{% static '/static/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/base.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/main.css' %}">
	<link rel="stylesheet" href="{% static '/static/css/fonts.css' %}">

	<link rel="icon" type="image/png" href="{% static '/static/images/favicon-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static '/static/images/favicon-16x16.png' %}" sizes="16x16" />

	<!-- Scripts -->
	<script type="text/javascript">
		var url = window.location.href;
		if (url.substr(url.length - 2) == '//') {
			window.location.href = url.substr(0, url.length - 1);
		}
	</script>

	<script src="{% static '/static/js/vendor/modernizr-2.6.2.js' %}"></script>
	<script src="{% static '/static/js/vendor/jquery-1.10.1.js' %}"></script>
	<script src="{% static '/static/js/main.js' %}"></script>
</head>

<body>
	<div id="master">
		<div class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="{% url '/index.html' %}"><img class="logo-reg" src="/static/images/nav-logo.png" height="40vh" /></a>
						<a href="{% url '/index.html' %}"><img class="logo-white" src="/static/images/footer-logo.png" height="40vh" /></a>
					</div>
					<button type="button" id="navbar-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="{% if_current_page '/aboutus.html' 'active' '' %}">
							<a href="{% url '/aboutus.html' %}">ABOUT</a>
						</li>
						<li class="{% if_current_page '/projects.html' 'active' '' %}">
							<a href="{% url '/projects.html' %}">PROJECTS</a>
						</li>
						<li class="{% if_current_page '/services.html' 'active' '' %}">
							<a href="{% url '/services.html' %}">SERVICES</a>
						</li>
						<li class="{% if_current_page '/services.html' 'active' '' %}">
							<a href="https://medium.com/@codebase">BLOG</a>
						</li>
						<li class="{% if_current_page '/contact.html' 'active' '' %}">
							<a href="{% url '/contact.html' %}">CONTACT</a>
						</li>
						<li class="{% if_current_page '/join.html' 'active' '' %}">
							<a href="{% url '/join.html' %}">APPLY</a>
						</li>
						<li
					</ul>
				</div>
				<!--/.navbar-collapse -->
			</div>
		</div>
		<div id="content">
			{% block body %} {% endblock %}
		</div>
	</div>

	<div class="footer">
		<div class="container-fluid">
			<div class="footer-body">
				<div class="footer-section">
					<a href="{% url '/index.html' %}"><img src="/static/images/footer-logo.png" height="40vh" /></a>
				</div>
				<div class="footer-section">
					<div class="footer-section-title">
						General
					</div>
					<div class="footer-section-links">
						<a href="{% url '/aboutus.html' %}">About</a>
						<a href="{% url '/aboutus.html' %}#team-section">Team</a>
						<a href="{% url '/projects.html' %}">Projects</a>
						<a href="{% url '/contact.html' %}">Contact</a>
					</div>
				</div>
				<div class="footer-section">
					<div class="footer-section-title">
						Students
					</div>
					<div class="footer-section-links">
						<a href="{% url '/join.html' %}">Apply</a>
						<a href="{% url '/join.html' %}#faqs-section">FAQs</a>
					</div>
				</div>
				<div class="footer-section">
					<div class="footer-section-title">
						Companies
					</div>
					<div class="footer-section-links">
						<a href="{% url '/services.html' %}">Services</a>
						<a href="{% url '/contact.html' %}">Contact</a>
					</div>
				</div>
				<div class="footer-section">
					<div class="footer-section-title">
						Learn More
					</div>
					<div class="footer-section-links">
						<a href="mailto:contact@codebase.berkeley.edu">Email</a>
						<a href="https://www.facebook.com/berkeleycodebase/">Facebook</a>
						<a href="https://github.com/codebase-berkeley">Github</a>
						<a href="https://github.com/codebase-berkeley">Blog</a>
					</div>
				</div>
			</div>
			<div class="footer-legal">
				<p class="footer-legal-text">
					CodeBase is a non-profit organization created and operated by UC Berkeley students.
					For questions, email us at contact@codebase.berkeley.edu.
					We are a student group acting independently of the University of California.
					We take full responsibility for our organization and this website.
					&copy; 2017 CodeBase.
				</p>
				<a class="footer-ocf" href="https://www.ocf.berkeley.edu">
					<img src="https://www.ocf.berkeley.edu/hosting-logos/ocfbadge_mini8.png" alt="Hosted by the OCF" style="border: 0;" />
				</a>
			</div>
		</div>
	</div>
</body>


{% block scripts %} {% endblock %}



</html>
