{{ define "main" }}

<script>console.log("clue #2: to become hokage is my dream")</script>
<div class="container">

  <!-- Landing Section -->

  <div class="section blue-section full-width-section landing-section">
    <div class="landing__title">
      {{ .Site.Data.home.landing.title }}
    </div>
    <hr class="landing__description-border col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto">
    <div class="landing__description col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto">
      {{ .Site.Data.home.landing.description }}
    </div>
    <hr class="landing__description-border landing__description-border--bottom col-xl-4 col-lg-6 col-md-8 col-sm-10 col-10 mx-auto">
    <a href='{{ with .Site.GetPage "/about" }}{{ .Params.navUrl }}{{ end }}' class="btn btn-light btn--landing">
      {{ .Site.Data.home.landing.button1 }}
    </a>
    <a href='{{ with .Site.GetPage "/apply" }}{{ .Params.navUrl }}{{ end }}' class="btn btn-light btn--landing">
      {{ .Site.Data.home.landing.button2 }}
    </a>
    <!--<img class="downward-arrow col-lg-1 col-sm-2 col-3" src="assets/downward_arrow.png">-->
  </div>

  <!-- About Section -->

  <div class="section">
    <div class="section-title">
      {{ .Site.Data.home.aboutSection.title }}
    </div>
    <hr class="about-border--dark">
    <div class="section-description">
      {{ .Site.Data.home.aboutSection.description }}
    </div>
    <div class="stats-container">
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber1 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription1 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber2 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription2 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber3 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription3 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber4 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription4 }}
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Section -->

  <div class="section gray-section full-width-section">
      {{ partial "projectCardGrid" . }}
    </div>

  <!-- Client Testimonials Section -->

  <div class="section gray-section dark-gray-section full-width-section">
    <div class="section-title">
      {{ .Site.Data.home.testimonialsSection.title }}
    </div>
    <div class="testimonials-container">
      <div class="testimonials-overlay"></div>
      <div class="testimonials-container-slide">
        {{ range $Testimonial := .Site.Data.home.testimonialsSection.testimonials}}
          <div class="testimonial-container" style="margin-bottom: {{$Testimonial.bottom}}px;">
            <div class="quote-container" style="box-shadow: {{$Testimonial.shadowX}}px {{$Testimonial.shadowY}}px {{$Testimonial.shadowColor}}">
              <i><p class="quote-text">"{{ $Testimonial.quote }}"</p></i>
              <img class="quote-logo" src={{$Testimonial.logo}}>
              <div style="clear:both"></div>
            </div>
          </div>
        {{ end }}
        {{ range $Testimonial := first 6 .Site.Data.home.testimonialsSection.testimonials}}
          <div class="testimonial-container" style="margin-bottom: {{$Testimonial.bottom}}px;">
            <div class="quote-container" style="box-shadow: {{$Testimonial.shadowX}}px {{$Testimonial.shadowY}}px {{$Testimonial.shadowColor}}">
              <i><p class="quote-text">"{{ $Testimonial.quote }}"</p></i>
              <img class="quote-logo" src={{$Testimonial.logo}}>
              <div style="clear:both"></div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>

  <!-- Get Involved Section -->

  <div class="section involved-section">
    <div class="section-title">
      {{ .Site.Data.home.getInvolvedSection.title }}
    </div>

    <div class="container">
      <div class="grid-cards">
        <div class="row">

          <div class="col-sm-12 col-md-6">
            <div class="card grid-card">
              <div class="card-body">
                <img class="card-img-top" src="assets/icons/forstudents.png">
                <div class="grid-card-area card-title">{{ .Site.Data.home.getInvolvedSection.studentsHeading }}</div>
                <div class="grid-card-content card-text">{{ .Site.Data.home.getInvolvedSection.studentsDescription }}</div>
                <a class="grid-card-button" href='{{ with .Site.GetPage "/apply" }}{{ .Params.navUrl }}{{ end }}'>
                  {{ .Site.Data.home.getInvolvedSection.buttonStudents }}
                </a>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="card grid-card">
              <div class="card-body">
                <img class="card-img-top" src="assets/icons/forcompanies.png">
                <div class="grid-card-area card-title">{{ .Site.Data.home.getInvolvedSection.companiesHeading }}</div>
                <div class="grid-card-content card-text">{{ .Site.Data.home.getInvolvedSection.companiesDescription }}</div>
                <a class="grid-card-button" href='{{ with .Site.GetPage "/contact" }}{{ .Params.navUrl }}{{ end }}'>
                  {{ .Site.Data.home.getInvolvedSection.buttonCompanies }}
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

{{ end }}
