{{ define "main" }}

<div class="container">

  <!-- Landing Section -->

  <div class="section blue-section full-width-section">
    <div class="landing-title">
      {{ .Site.Data.home.landing.title }}
    </div>
    <hr>
    <div class="landing-description">
      {{ .Site.Data.home.landing.description }}
    </div>
    <button class="btn btn-light">
      {{ .Site.Data.home.landing.button1 }}
    </button>
    <button class="btn btn-light">
      {{ .Site.Data.home.landing.button2 }}
    </button>
  </div>

  <!-- About Section -->

  <div class="section">
    <div class="section-title">
      {{ .Site.Data.home.aboutSection.title }}
    </div>
    <hr>
    <div class="section-description">
      {{ .Site.Data.home.aboutSection.description }}
    </div>
    <div class="stats-container">
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber1 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription1 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber2 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription2 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber3 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription3 }}
        </div>
      </div>
      <div class="stat-container">
        <div class="stats-number">
          {{ .Site.Data.home.aboutSection.statsNumber4 }}
        </div>
        <div class="stats-description">
          {{ .Site.Data.home.aboutSection.statsDescription4 }}
        </div>
      </div>
    </div>
  </div>

  <!-- Projects Section -->

  <div class="section gray-section full-width-section">
    {{ partial "projectCardGrid" . }}
  </div>

  <!-- Get Involved Section -->

  <div class="section">
    <div class="section-title">
      {{ .Site.Data.home.getInvolvedSection.title }}
    </div>
    <div class="col-container">
      <img src="">
      <div class="subsection-title">
        {{ .Site.Data.home.getInvolvedSection.studentsHeading }}
      </div>
      <div class="subsection-description">
        {{ .Site.Data.home.getInvolvedSection.studentsDescription }}
      </div>
      <button class="button">
        {{ .Site.Data.home.getInvolvedSection.button }}
      </button>
    </div>
    <div class="col-container">
      <img src="">
      <div class="subsection-title">
        {{ .Site.Data.home.getInvolvedSection.companiesHeading }}
      </div>
      <div class="subsection-description">
        {{ .Site.Data.home.getInvolvedSection.companiesDescription }}
      </div>
      <button class="button">
        {{ .Site.Data.home.getInvolvedSection.button }}
      </button>
    </div>
  </div>

  <!-- Client Testimonials Section -->

  <div class="section gray-section full-width-section">
    <div class="section-title">
      {{ .Site.Data.home.testimonialsSection.title }}
    </div>
    <div class="testimonials-container">
      <div class="testimonial-container">
        {{ .Site.Data.home.testimonialsSection.company1Description }}
      </div>
    </div>
  </div>
</div>

{{ end }}
