{{ define "main" }}

<div class="section full-width-section">
  {{ partial "projectCardGrid" . }}
</div>

<h1>Past Projects</h1>
<div class="row">
{{ range .Pages }}
  {{ if (eq .Params.current false) }}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src={{ .Params.logo }} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ .Params.full }}</h5>
      <p>{{ .Params.area }}</p>
    </div>
    <a href="{{ .Params.url }}" class="btn btn-primary">Details</a>
  </div>
  {{ end }}
{{ end }}
</div>

{{ end }}
