{{ define "main" }}

<h1>{{ .Params.full }}</h1>
<img src={{ .Params.logo }}>
<p>{{ .Params.semester }} {{ .Params.year }}</p>
<p>{{ .Params.blurb }}</p>

{{ $project := index .Site.Data.projects.projectDescriptions .Params.title }}

<div class="section project-section">
  <img src="assets/dummy-icon.png" class="section-icon">
  <div class="section-title">
    The Challenge
  </div>
  <div class="section-content">
    {{ $project.challenge }}
  </div>
</div>

<div class="section project-section">
  <img src="assets/dummy-icon.png" class="section-icon">
  <div class="section-title">
    The Solution
  </div>
  <div class="section-content">
    {{ $project.solution }}
  </div>
</div>

<div class="section project-section gray-section full-width-section">
  <img src="assets/beam-fun.png" class="section-full-image">
</div>

<div class="section project-section">
  <div class="section-content">
    {{ $project.extra }}
  </div>
</div>

{{ end }}
