@font-face {
	font-family: 'MyriadPro';
	/*a name to be used later*/
	src: url('../fonts/MyriadProRegular.ttf');
	/*URL to font*/
}

section {
	min-height: 100vh;
	position: relative;
}

.centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

.mission {
	background-color: rgba(0, 0, 0, 0);
	color: #2B4A89;
	margin-left: 0px;
}

.mission-text {
	color: #0A0A0A;
	margin: 0 auto;
	font: condensed bold 72px/150% 'Roboto Condensed', Arial, sans-serif;
}

.mission-subtitle {
	margin-top: 10px;
	color: #0A0A0A;
	font: bold 18px/150% 'Roboto', Arial, sans-serif;
	font-size: 28px;
}

.btn-container {
	margin-top: 60px;
	margin-left: 0;
	width: 100%;
        text-align:center;
}

.topbgimg {
	background: url('../images/bg.png') no-repeat center/1440px;
	height: 100vh;
	z-index: 10;
	margin-top: -5vh;
}

.btn-container > a {
	border: 1px solid #00B0DA;
	display: inline-block;
	width: 140px;
	padding: 5px;
	color: #00B0DA;
	background-color: white;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
	font: bold 20px/150% 'Roboto', Arial, sans-serif;
	-moz-transition: color .5s ease;
	-o-transition: color .5s ease;
	-webkit-transition: color .5s ease;
	transition: color .5s ease;
}

.btn-container > a:hover {
	color: white;
	background-color: #00B0DA;
}

.apply {
	margin-left: 30px;
}

.about {
	margin-right: 30px;
}

.gear {
	margin-top: 35vh;
	margin-bottom: 10px;
	width: 80px;
}

.projects-wrapper {
	margin-top: 3px;
	text-align: center;
}

.projects {
	font-size: 30px;
	color: #2B4A89;
	display: block;
	font-family: 'MyriadPro';
}

.card {
	background: #fff;
	border-radius: 15px;
	display: inline-block;
	height: 450px;
	margin: 1rem;
	position: relative;
	width: 325px;
	font-family: 'MyriadPro';
}

.card-1 {
	margin-top: 30px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
}

.card-title {
	color: #3C8721;
	font-size: 22px;
	margin-top: 50px;
}

.card-subtitle {
	color: #566573;
	font-size: 18px;
}

.project-desc-old {
	margin-top: 50px;
	display: inline-flex;
	margin-right: 30px;
	font-size: 16px;
}

.project-desc {
	margin: 30px;
	display: inline-flex;
	text-align: left;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.card-2 {
	margin-top: 30px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
}

.card-title-2 {
	color: #D38742;
	font-size: 22px;
	margin-top: 50px;
}

.card-subtitle-2 {
	color: #566573;
	font-size: 18px;
}

.card-3 {
	margin-top: 30px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
}

.card-title-3 {
	color: #6D3BAD;
	font-size: 22px;
	margin-top: 50px;
}

.card-subtitle-3 {
	color: #566573;
	font-size: 18px;
}

.tie {
	margin-top: 100px;
	margin-bottom: 10px;
	width: 80px;
}

.card-comm {
	background: #fff;
	border-radius: 15px;
	display: inline-block;
	height: 475px;
	margin: 1rem;
	position: relative;
	width: 285px;
	font-family: 'MyriadPro';
}

.card-comm-1 {
	margin-top: 30px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
}

.comm-desc {
	margin: 30px;
	display: inline-flex;
	text-align: left;
	font-size: 15px;
}

.comm-list {
	list-style: none;
}

.comm-img-1 {
	height: 50px;
	width: auto;
	margin-top: 60px;
}

.comm-img-2 {
	height: 50px;
	width: auto;
	margin-top: 58px;
}

.comm-img-3 {
	height: 50px;
	width: auto;
	margin-top: 65px;
}

.comm-img-4 {
	height: 50px;
	width: auto;
	margin-top: 65px;
}

.card-comm-2 {
	margin-top: 30px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	text-align: center;
}

.card-title-4-1 {
	color: #436CD1;
	font-size: 22px;
	margin-top: 50px;
}

.card-title-4 {
	color: #436CD1;
	font-size: 22px;
	margin-top: 0px;
}

.comm-desc-4 {
	margin: 30px;
	margin-top: 15px;
	text-align: left;
	font-size: 15px;
}

.card-title-5-1 {
	color: #6D3BAD;
	font-size: 22px;
	margin-top: 50px;
}

.card-title-5 {
	color: #6D3BAD;
	font-size: 22px;
	margin-top: 0px;
}
