body {
	background-color: #333;
}

.page-banner {
	background-size: cover;
	text-align: center;
}

.welcome-banner {
	background: url("../images/berkeley.jpg") no-repeat center center scroll;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 30%;
}

.welcome-banner h1 {
	color: #333;
	/*	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.welcome-banner h2 {
	color: white;
}

.about-banner {
	background: url("../images/startup.jpg") no-repeat center center scroll;
	padding-top: 5%;
	padding-bottom: 5%;
}

.contact-banner {
	background: url("../images/office.jpg") no-repeat center center scroll;
	color: white;
}

.donate-banner {
	text-align: center
}

.team {
	text-align: center;
	background-color: white;
}

.team-member {
	padding-bottom: 20px;
}

.team-member img {
	border-radius: 100%;
}

.mission {
	text-align: center;
	background-color: aliceblue;
}

.client-info {
	text-align: center;
	background-color: white;
}

.client-contact {
	color: white;
	text-align: center;
	background: url("../images/keyboard.jpeg") no-repeat center center scroll;
}

.students {
	color: #333;
	text-align: center;
}

.div-image {
	padding-top: 15%;
	padding-bottom: 15%;
	background-size: cover;
}

.office {
	background: url("../images/office.jpg") no-repeat center center scroll;
}

.bridge {
	background: url("../images/bridge.jpeg") no-repeat center center scroll;
}

.info-box {
	background-color: white;
	text-align: center;
}

.foot {
	background-color: #333;
	text-align: center;
	color: white;
}

.jumbotron {
	margin: 0px;
}

.contact-blurb {
	text-align: center;
	padding-bottom: 40px;
}

.contact {
	text-align: left;
	background-color: white
}
.navbar-inner {
	background-color: transparent;
}
