body {
	background-color: #00afcc;
	color: #191919;
}

a {
	color: #008698;
}

.page-banner {
	background-size: cover;
	text-align: center;
}

.welcome-banner {
	background: url("../images/berkeley.jpg") no-repeat center center scroll;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 30%;
}

.welcome-banner h1 {
	/*	color: #333;*/
	/*	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.welcome-banner h2 {
	color: white;
}

.about-banner {
	background: url("../images/startup.jpg") no-repeat center center scroll;
	padding-top: 5%;
	padding-bottom: 5%;
}

.contact-banner {
	background: url("../images/office.jpg") no-repeat center center scroll;
	/*	color: white;*/
}

.donate-banner {
	text-align: center
}

.team {
	text-align: center;
	background-color: white;
}

.team-member {
	padding-bottom: 20px;
}

.team-member img {
	border-radius: 100%;
}

.mission {
	text-align: center;
	background-color: #a3e7f0;
}

.client-info {
	text-align: center;
	background-color: #a3e7f0;
}

.client-contact {
	color: white;
	text-align: center;
	background: url("../images/keyboard.jpeg") no-repeat center center scroll;
}

.students {
	text-align: center;
}

.div-image {
	padding-top: 15%;
	padding-bottom: 15%;
	background-size: cover;
}

.office {
	background: url("../images/office.jpg") no-repeat center center scroll;
}

.bridge {
	background: url("../images/bridge.jpeg") no-repeat center center scroll;
}

.info-box {
	background-color: #a3e7f0;
	text-align: center;
}

.foot {
	background-color: #00afcc;
	text-align: center;
	/*	color: white;*/
}

.jumbotron {
	margin: 0px;
}

.contact-blurb {
	text-align: center;
	padding-bottom: 40px;
}

.contact {
	text-align: left;
	background-color: #a3e7f0;
	padding-bottom: 50px;
}


/* navbar */

.navbar-default {
	background-color: #00afcc;
	border-color: #00afcc;
}

.navbar {
	opacity: 0.75;
	/* opacity [0-1] */
	-moz-opacity: 0.75;
	/* opacity [0-1] */
	-webkit-opacity: 0.75;
	/* opacity [0-1] */
	background-color: #00afcc;
}


/* title */

.navbar-default .navbar-brand {
	color: #00afcc;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #00afcc;
}


/* link */

.navbar-default .navbar-nav > li > a {
	color: #00afcc !important;
	;
}

.dropdown-menu > li > a {
	color: #00afcc;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #00afcc !important;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #00afcc !important;
	;
	background-color: #ffffff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #00afcc !important;
	;
	background-color: #00afcc;
}


/* caret */

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #00afcc;
	border-bottom-color: #00afcc;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #00afcc;
	border-bottom-color: #00afcc;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #00afcc;
	border-bottom-color: #00afcc;
}


/* mobile version */

.navbar-default .navbar-toggle {
	border-color: #00afcc;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #00afcc;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #00afcc;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #00afcc !important;
		;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #00afcc !important;
		;
	}
}