<footer>
  <div class="container text-center text-md-left">
    <script>
      function ocf_clue() {
        console.log("clue 10: #2 Public University! Go BEARS");
      }
    </script>
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="logo-container">
          <a href="#">
            <img src="assets/codebase-text-logo.png" height="40">
          </a> 
        </div>
        <p>We are a student group acting independently of the University of California. We take full responsibility for our organization and this web site.</p>
        <a href="javascript:void(0)" onclick="ocf_clue()">
          <img src="https://www.ocf.berkeley.edu/hosting-logos/ocf-hosted-penguin.svg"
              alt="Hosted by the OCF" style="border: 0;"/>
        </a>
      </div>
      <div class="col-md-7 mx-auto">
        <div class="row">
          {{ range .Site.Data.home.footerLinks }}
            <div class="col-md-3 mx-auto">
              <div class="footer-header mt-3 mb-4">{{ .header }}</div>
              <ul class="list-unstyled footer-text">
                {{ range .links }}
                  <li class="footer-link">
                    <a href={{ .url }}>{{ .text }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</footer>
