<footer>
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <a href="#">
          <img src="assets/codebase-text-logo.png" height="40">
        </a>
      </div>
      <div class="col-md-7 mx-auto">
        <div class="row">
          {{ range .Site.Data.home.footerLinks }}
            <div class="col-md-3 mx-auto">
              <div class="footer-header mt-3 mb-4">{{ .header }}</div>
              <ul class="list-unstyled footer-text">
                {{ range .links }}
                  <li class="footer-link">
                    <a href={{ .url }}>{{ .text }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</footer>
