{{ range .Site.Data.about.members }}
  <div class="section">
    <div class="section-title">{{ .group }}</div>
    <div class="row members-container">
      {{ range .people }}
        <div ontouchstart="" class="member" style="background-image: url({{.photo}});" >
          <div class="member-details">
            <div class="member-details-wrapper">
              <div class="inner-member-details inner-member-details member-name">{{ .first}} {{ .last }}</div>
              <div class="inner-member-details inner-member-details member-title">{{.position}}</div>
              {{ if not (eq .linkedin "none") }}
                <a ontouchstart="" href={{.linkedin}}><img class="member-link-image" src="assets/linkedin.png" /></a>
              {{ end }}
              {{ if not (eq .github "none") }}
                <a ontouchstart="" href={{.github}}><img class="member-link-image" src="assets/github.png" /></a>
              {{ end }}
              {{ if not (eq .website "none") }}
                <a ontouchstart="" href={{.website}}><img class="member-link-image" src="assets/website.png" /></a>
              {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }} 
