<div class="section">
  <div class="row">
    {{ range $path, $data := .Site.Data.apply.paths.data }}
      <div class="col-lg-6">
        <img src="assets/dummy-icon.png" style="width: 150px">
        <h5 class="card-title">{{ $data.full }}</h5>
        <hr>
        <h5>Who we're looking for:</h5>
        {{ range $data.lookingFor }}
          <p>{{ . }}</p>
        {{ end }}
        <h5>What you'll get:</h5>
        {{ range $data.whatYouGet }}
          <p>{{ . }}</p>
        {{ end }}
        <a class="grid-card-button" href="#">
          Apply Now
        </a>
      </div>
    {{ end }}
  </div>
</div>
