<div class="section">
  <div class="row">
    {{ range .Site.Data.apply.paths }}
      <div class="col-md-6">
        <img src="{{ .icon }}" style="width: 120px">
        <div class="path-title">{{ .full }}</div>
        <div class="path-box">
          {{ range .content }}
            <div class="path-heading">{{ .subheading }}</div>
            {{ range $index, $value := .points}}
              {{ if not (eq $index 0) }}
                <hr>
              {{ end }}
              <div class="path-item">{{ $value }}</div>
            {{ end }}
          {{ end }}
        </div>
        <a class="grid-card-button" href="https://codebase1.typeform.com/to/XEsu5C">
          Apply Now
        </a>
      </div>
    {{ end }}
  </div>
</div>
