<div class="container">
  <div class="section-title">
    {{ .Site.Data.home.projectsSection.title }}
  </div>
  <div class="section-description">
    {{ .Site.Data.home.projectsSection.description }}
  </div>
  <div class="grid-cards">
    <div class="section-title">Client Projects</div>
    <div class="row">
      {{ range (where (where .Pages ".Params.current" true) ".Params.consulting" true) }}
        <div class="col-6">
          <div class="card grid-card-flat">
            <img class="grid-card-img card-img-top" src={{ .Params.logo }}>
            <div class="grid-card-area card-title">{{ .Params.area }}</div>
            <div class="grid-card-content card-text">{{ .Params.blurb }}</div>
          </div>
        </div>
      {{ end }}
    </div>

    <div class="section-title">Mentored Project</div>
    <div class="row justify-content-md-center">
      {{ range (where (where .Pages ".Params.current" true) ".Params.consulting" false) }}
        <div class="col-6">
          <div class="card grid-card-flat">
            <img class="grid-card-img card-img-top" src={{ .Params.logo }}>
            <div class="grid-card-area card-title">{{ .Params.area }}</div>
            <div class="grid-card-content card-text">{{ .Params.blurb }}</div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
